To activate your account click the URL below.

<a href="http://localhost:3000/reset/<%= @user.activation_code %>">click here</a>
If you did not request your password to be reset please ignore this email and your password will stay as it is.
