<!DOCTYPE html>
<html>

    <head>
		<title>Kingdom Sports Group: Home</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/css/bootstrap.css">
		<!-- <link rel="stylesheet" href="font/stylesheet.css"> -->
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/custom.css">
		<link rel="stylesheet" href="/assets/css/media.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/font/stylesheet.css">
		<link rel="stylesheet" href="/assets/font-awesome-4.4.0/css/font-awesome.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/toastr.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
		<script src="/assets/js/jquery-1.9.1.min.js"></script>
	</head>

  <body>
    <header>
      <div class="container">
  			<div class="row">
  				<div class="col-xs-12 pad_none header_inner-part">
  					<div class="col-md-4 col-sm-4 col-xs-12 pad_none logo-main">
  						<a href="/">
  							<img src="/assets/upload/logo.png" alt="site logo"/>
  						</a>
  					</div>

  					<div class="col-md-8 col-sm-8 col-xs-12 pad_none navigation-part">
  						<div class="navbar-default nav_main">
  						<div class="navbar-header">
  						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
  						</div>

  						<!-- Collect the nav links, forms, and other content for toggling -->
  						<div class="collapse navbar-collapse pad_none bg_none" id="bs-example-navbar-collapse-1">
  						<div class="col-sm-12 pad_none nav_bar">
  						<ul>
                <li><a href="/city">Gold Coast</a></li>
  							<li><a href="/sports">The Games</a></li>
  							<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Shop</a>
  								<ul class="dropdown-menu ">
  									<li><a href="/package">Inclusive Packages</a></li>
  									<li><a href="/createownpackage">Create your own Packages</a></li>
                    <li><a href="/accommodation">Accommodation</a></li>
  									<li><a href="/event">Events Tickets</a></li>
  									<li><a href="">Tours</a></li>
  								</ul>
  							</li>
  							<li><a href="/whoweare">About Us </a></li>
  							<li><a href="/lookandbrand">Look and Brand</a></li>
                <% if @current_user.present? %>
                  <%= puts @current_user.inspect %>
                  <%= puts "?????????????????????????????"%>
                  <li data-toggle="modal" data-target="#idModal">
                    <a href="javascript:void(0)">Account</a>
                  </li>
                <%else%>
                  <li data-toggle="modal" data-target="#loginModal">
                    <a href="javascript:void(0)">Account</a>
                  </li>
                <%end%>

                <% if @current_user.present? %>
                  <li>
                    <a href="/cart" style="margin-top:-8px; display: block;"><span class="fa fa-shopping-cart fa-lg"><sup style="font-size: 16px;margin: 5px;"><%= @cart_count %></sup></span></a>
                  </li>
                <% else %>
                <% end %>
  						</ul>
  						</div>
  						</div>
  						<!-- /.navbar-collapse -->
  						</div>
  					</div>
  				</div>
  			</div>
		  </div>
    </header>
