<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kingdomsg</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/dashboard/css/dataTables/dataTables.bootstrap.css">
    <link rel="stylesheet" href="assets/dashboard/css/dataTables/dataTables.responsive.css">
    <link rel="stylesheet" href="assets/dashboard/css/metisMenu.min.css">
    <link rel="stylesheet" href="assets/dashboard/css/timeline.css">
    <link rel="stylesheet" href="assets/dashboard/css/startmin.css">
    <link rel="stylesheet" href="assets/dashboard/css/morris.css">
    <link rel="stylesheet" href="assets/dashboard/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/media.css">
  </head>
  <body>
    <header>
      <div class="container">
  			<div class="row">
  				<div class="col-xs-12 pad_none header_inner-part">
  					<div class="col-md-4 col-sm-4 col-xs-12 pad_none logo-main">
  						<a href="/">
  							<img src="/assets/images/gold-hover.png" alt="site logo"/>
  						</a>
  					</div>

  					<div class="col-md-8 col-sm-8 col-xs-12 pad_none navigation-part">
  						<div class="navbar-default nav_main">
  						<div class="navbar-header">
  						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
  						</div>

  						<!-- Collect the nav links, forms, and other content for toggling -->
  						<div class="collapse navbar-collapse pad_none bg_none" id="bs-example-navbar-collapse-1">
  						<div class="col-sm-12 pad_none nav_bar">
  						<ul>
                <li><a href="/city">Gold Coast</a></li>
  							<li><a href="/sports">The Games</a></li>
  							<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Shop</a>
  								<ul class="dropdown-menu ">
  									<li><a href="/package">Inclusive Packages</a></li>
  									<li><a href="/createownpackage">Create your own Packages</a></li>
                    <li><a href="">Accommodation</a></li>
  									<li><a href="/event">Events Tickets</a></li>
  									<li><a href="">Tours</a></li>
  								</ul>
  							</li>
  							<li><a href="/whoweare">About Us </a></li>
  							<li><a href="/lookandbrand">Look and Brand</a></li>
  						</ul>
  						</div>
  						</div>
  						<!-- /.navbar-collapse -->
  						</div>
  					</div>
  				</div>
  			</div>
		  </div>
    </header>
