<%= render 'header'%>
<section class="banner-main accomodation-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">ACCOMMODATION </h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">KSG has sourced 15 properties ranging from 3.5* to luxury 5*. With both hotels and self-service apartments KSG has the right home away from home for everyone. </p>
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>

<div class="container">
<div class="row">
  <div class="exclusive-reprensentatio-inner accommodation-main-inner4">
    <h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Accommodation</h2>
      <div class="col-xs-12 pad_none accommodation-hotels-main-out4">
        <!-- scroll -->
        <div class="col-xs-12 pad_none accommodation-scrolling-out">
          <div class="site_fixed_left">
          <p>Kingdom Sports Group has established itself as one of the leading agents that can offer an affordable and a diverse range of accommodation for the Gold Coast 2018 Commonwealth Games.</p>
          <p>For the last two years, we have been working on the ground in Australia with various partners and properties in securing the necessary accommodation that our clients need and had requested in advance.</p>
          <p>Already before we have gone on public release, over 35% of our existing inventory was pre-sold in advance of the launch, but do not despair, we still have a large section of accommodation on both the Gold Coast and Brisbane we can offer our clients.</p>
          <p>One thing to remember about the Gold Coast is it is a family and fun destination within Australia. This means although there might be a large variety of accommodation available, sometimes the quality and standard below a certain level is not always the best. This is why we decided to not offer any accommodation lower than 3.5 Stars. Below this star rating we unfortunately cannot guarantee either the service or the cleanliness of a property.</p>
          <p>There are two locations we can offer for accommodation. </p>
          <p>If you select Brisbane (pop. 2.35 million), it will take approximately 1 hour to travel to some of the venues (apart from Cycling and Shooting which are held in Brisbane), and is a cheaper and more affordable option for some clients and groups.</p>
          <p>The city of the Gold Coast (pop. 570,000), as host city of the Commonwealth Games is more expensive, but your travel times to the various sports are much less, and we have a variety of accommodation to suit all tastes.</p>

          <p><samp><img src="/assets/images/person-icon-img.png" class="puschase-icon4" alt=""> WHO CAN PURCHASE  &nbsp;    &nbsp;  &nbsp;  &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp; &nbsp;</samp> Anyone in the world</p>
          <p><samp><img src="/assets/images/cart-img-4.png" class="puschase-icon4" alt=""> WHY PURCHASE FROM KSG  &nbsp;    &nbsp;  &nbsp;  &nbsp; </samp>We are a registered travel agency with our head office in Australia. We have personally inspected each and every property we are offering to ensure the standards and expectations are to our clients expectations. </p>




          </div>

        </div>
<%= render 'footer'%>
