<%= render 'header'%>
<section class="banner-main athletics-packages-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"> &nbsp;</h2>
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>

<br style="clear: both;" />
<div class="container" style="padding: 40px 0px;">
	<div class="row">
		<div class="col-md-12" style="margin-top: 30px;">
			<div class="col-md-3" style="text-align: left;">
				<img src="/assets/images/ksg-logos/red.png" style="height: 240px; border: 3px solid white; box-shadow: 2px 3px 15px #888888;">
			</div>
			<div class="col-md-9" style="text-align: right;">
				<div class="col-md-12" style="border-bottom: 1px solid #cccccc; padding: 10px 0px 15px 0px;">
					<div class="col-md-12" style="text-align: left;">
						<div style='color: #1d8337; font-family: "proxima_novaregular"; font-size: 30px; font-weight: bold;'>Athletics Supporter Program – Gold</div>
						<!--<div style='color: #212121; font-family: "proxima_nova_condensedlight"; font-size: 15px;'>12 Nights (4th April to 16th April)</div>-->
					</div>
					<br style="clear: both;" />
				</div>
				<div class="col-md-12" style="text-align: left;">
					<h5 style='color: #212121; font-family: "proxima_nova_condensedlight"; font-size: 20px; font-weight: bold;'>
						Package code - AT_GOLD
					</h5>
					<p style='color: #212121; font-family: "proxima_nova_condensedlight"; font-size: 15px;'>
						<strong>Price: </strong> FROM $4,973 / £3,158 For 9 Nights (per person based upon twin or double share). <br />
						Single also available. <br />
						<!--<a class="subscribe-submit" href="" style="margin: 20px 0px; padding: 10px 20px !important; width: auto;">
							<i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Brochure
						</a>-->
					</p>
				</div>
			</div>
			<br style="clear: both;" />
		</div>
	</div>
</div>
<section style="position: relative;">
	<img src="/assets/images/tour2-design-bgnw.png" class="tour2-design-bgnw" alt="">
	<div class="container" style="padding: 40px 0px;">
		<div class="row" style="margin-top: 30px;">
			<div class="col-md-12">
				<div class="col-md-12">
					<h5 style='font-family: "proxima_novaregular"; font-size: 25px; margin: 0px 0px 30px 0px;'>
						INCLUSIONS
					</h5>
					<div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
						<ul>
							<li style=" font-size: 16px;">Accommodation for 15, 12 or 9 nights. </li>
							<li style=" font-size: 16px;">Daily breakfast for up to two people and free WIFI.</li>
							<li style=" font-size: 16px;">Athletics tickets: All 11 sessions (Cat A) </li>
							<li style=" font-size: 16px;">Purchase of any additional sports tickets*</li>
							<li style=" font-size: 16px;">KSG Meet and Greet at Gold Coast or Brisbane Airport</li>
							<li style=" font-size: 16px;">Transfers to and from the airport & hotel</li>
							<li style=" font-size: 16px;">Transfers to and from Athletics Stadium for each session from your hotel</li>
							<li style=" font-size: 16px;">1 x 7-day Village Roadshow Theme Park Pass for each guest</li>
                            <li style=" font-size: 16px;">KSG Gold Coast 2018 merchandise pack</li>
							<li style=" font-size: 16px;">KSG Support Staff throughout your stay</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row" style="margin-top: 30px;">
			<div class="col-md-12">
				<div class="col-md-12" style='color: #212121; font-family: "proxima_nova_condensedlight"; font-size: 25px;'>
					Additional sports text some text some text some text.
				</div>
			</div>
		</div> -->
		<div class="row" style="margin-top: 30px;">
			<div class="col-md-12">
				<div class="col-md-12">
					<h5 style='font-family: "proxima_novaregular"; font-size: 25px; margin: 20px 0px 30px 0px;'>
						OPTIONAL EXTRAS
					</h5>
					<div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
						<ul>
							<li style="font-size: 16px;">
								Full Day Trip including same day return flights to the Great Barrier Reef (Lady Elliott Island), 12 hr tour for each guest
							</li>
                            <li style="font-size: 16px;">
								KSG will have an in-house Tour Specialist with live tour and flight availability to assist with any travel requirements.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="col-xs-12 pad_none condition-of-sale-main-inner set_response-form-outr3-main">
		<div class="col-xs-12 set_response-form-outr3">
			<div id="set_response"  class="alert text-center">
				<!-- <?php 
					echo $this->session->userdata('event_request') ? "<div class='alert alert-success'>Thank you for your information, one of our Games Consultants will be in touch to discuss your request</div>": "";
					@$this->session->unset_userdata('event_request')
				?> -->
			</div>
			<form name="book_event_ticket" id="book_event_ticket" method="post" action="/event/ticketbook" enctype="multipart/form-data">
				<span id="user_data_box" style="">
					<div class="col-md-6">
						<div class="form-group">
							<label>Name</label>
							<input type="text" name="event_user_name" id="event_user_name" required="" class="form-control" placeholder="Enter Your Name">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Email</label>
							<input type="text" name="event_user_email" id="event_user_email" required="" class="form-control" placeholder="Enter Your Email">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Phone</label>
							<input type="text" name="event_user_phone" id="event_user_phone" required="" class="form-control" placeholder="Enter Your Phone">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Comments</label>
							<textarea name="comments" class="form-control" required="" placeholder="Enter Your Requirements"></textarea>
						</div>
					</div>
					<div class="col-xs-12">
						<button type="submit" class="subscribe-submit subscribe-submit-new" style="width: 210px;">Check Availability</button>
					</div>
				</span>
				<br style="clear: both;">
				<div class="clearfix">&nbsp;</div>
			</form>
		</div>
	</div>
</section>

<%= render 'footer'%>
