<%= render 'layouts/header'%>
<section class="banner-main accomodation-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<!-- <h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">ACCOMMODATION </h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">KSG has sourced 15 properties ranging from 3.5* to luxury 5*. With both hotels and self-service apartments KSG has the right home away from home for everyone. </p> -->
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="/assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-xs-12 pad_none accomodation0details-view-iiner">
			<div class="col-xs-12 pad_none pallazo-versace-out3">
				<div class="col-xs-12 col-sm-7 col-md-7 pad_none pallazo-versace-left-sec">
					<h3>
						Baronnet Apartments
						<!-- <span>
							<img style="height:30px" src="/assets/images/full-star.png" alt="">
							<img style="height:30px" src="/assets/images/full-star.png" alt="">
							<img style="height:30px" src="/assets/images/full-star.png" alt="">
							<img style="height:30px" src="/assets/images/full-star.png" alt="">
							<img style="height:30px" src="/assets/images/halfstar.png" alt="">
						</span> -->
					</h3>
					<p>
						<i class="fa fa-map-marker map-marker-new3" aria-hidden="true"></i>
						10-14 Enderley Ave, Surfers' Paradise, 4217 Gold Coast, Australia
					</p>
				</div>
			</div>

			<div class="col-xs12 pad_none hotel-images-outer" >
    			<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden; background-color: #24262e;">
        			<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
	            		<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
	            		<div style="position:absolute;display:block;background:url('/assets/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        			</div>
        			<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden;">
            			<div data-p="144.50" style="display: none;">
                			<img class="auto_height" data-u="image" src="/assets/images/hotel_images/baronnet-apartments/1.jpg"  alt="" />
            			</div>
						<div data-p="144.50" style="display: none;">
			                <img class="auto_height" data-u="image" src="/assets/images/hotel_images/baronnet-apartments/2.jpg"  alt="" />
			            </div>
						<div data-p="144.50" style="display: none;">
			                <img class="auto_height" data-u="image" src="/assets/images/hotel_images/baronnet-apartments/3.jpg"  alt="" />
			            </div>
						<div data-p="144.50" style="display: none;">
			                <img class="auto_height" data-u="image" src="/assets/images/hotel_images/baronnet-apartments/4.jpg"  alt="" />
			            </div>
						<div data-p="144.50" style="display: none;">
			                <img class="auto_height" data-u="image" src="/assets/images/hotel_images/baronnet-apartments/5.jpg"  alt="" />
			            </div>
						<div data-p="144.50" style="display: none;">
			                <img class="auto_height" data-u="image" src="/assets/images/hotel_images/baronnet-apartments/6.jpg"  alt="" />
			            </div>
        			</div>
        			<span data-u="arrowleft" class="jssora05l" style="top:200px;left:8px;width:40px;height:40px;">
						<i class="fa fa-angle-left fa-angle-left2 " aria-hidden="true"></i>
					</span>
        			<span data-u="arrowright" class="jssora05r" style="top:200px;right:8px;width:40px;height:40px;">
						<i class="fa fa-angle-right angle-right2" aria-hidden="true"></i>
					</span>
        			<a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
    			</div>
				<div class="col-xs-12 pad_none more-photo-heading3">
				</div>
			</div>

			<div class="col-xs-12 pad_none defination-luxury-out2" style="padding: 50px 0px 30px 0px !important;">
				<div class="col-xs-12 col-sm-12 col-md-12 pad_none defination-luxury-inner-left">
					<p>
						Just 50 m from the world famous Surfers Paradise Beach, Baronnet Apartments offers self-catering apartments with large private balconies with panoramic pool or ocean views. Guests receive 300MB of free WiFi per day, per apartment.
					</p>
					<br />
					<p>
						The apartments of Baronnet Apartments enjoy a spacious and modern interior. They are equipped with a flat-screen TV, a kitchen with a dishwasher, and a large seating area. Baronnet also offers a heated spa bath, a sauna, and a tennis court.
					</p>
					<br />
					<p>
						The shops, restaurants and bars of Cavill Avenue are only a 10-minute walk away. The Gold Coast Theme Park buses stop right at the doorsteps of Baronnet Apartments. On-site free private parking is possible.
					</p>
					<br />
				</div>
			</div>


			<!-- 1 Bed with Ocean View  -->
			<div class="col-xs-12 col-sm-12 col-md-12 pad_none defination-luxury-inner-left">
				<h6 style="text-decoration: underline; font-weight: bold;">1 Bed with Ocean View </h6>
			</div>

			<div class="col-xs-12 pad_none details-feature-out2 defination-luxury-inner-left" style="margin: 30px 0px;">
				<h6>Details</h6>
				<div class="col-xs-12 pad_none details-out-inner2">
					<div class="col-xs-12 col-sm-6 col-md-6 details-out-inner-left2">
						<p>
							<samp class="room-type-img03"> <img src="/assets/images/room-type-img2.png" alt=""></samp>
							<strong>Room Type: </strong> 1 Bed with Ocean View
						</p>
						<p>
							<samp class="room-type-img03"><img src="/assets/images/room-type-detail2img.png" alt=""></samp>
							<strong>Room Size: </strong>  70m<sup>2</sup>
						</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 details-out-inner-left2 details-out-inner-right2">
						<p>
							<samp class="room-type-img03"> <img src="/assets/images/room-type--nav-2img.png" alt=""></samp>
							<strong>Layout:  </strong>
						</p>
						<p>
							<samp class="room-type-img03"><img src="/assets/images/room-type-img2-new.png" alt=""></samp>
							<strong>Breakfast: </strong>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 feture-note-out3" style="margin: 10px 0px 30px 0px;">
				<p>Situated on one of the middle floors, this air-conditioned apartment has a private balcony overlooking the ocean. </p>
			</div>
			<div class="col-xs-12 pad_none details-feature-out2 margin-none2 defination-luxury-inner-left">
				<h6>Features</h6>
				<div class="col-xs-12 pad_none details-out-inner2">
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 ">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/balcony.png" alt="">
									<p>Balcony </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/patio.png" alt="">
									<p>Patio </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/lady-eliot-island.png" alt="">
									<p>View </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/sea-view.png" alt="">
									<p>Sea <br /> View</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/flat-screen-TV.png" alt="">
									<p>TV </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-teliphone-img2.png" alt="">
									<p>Telephone </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-fmimg2.png" alt="">
									<p>Radio</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-satelite-chanel-img2.png" alt="">
									<p>Satellite <br> Channels</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-cable-img2.png" alt="">
									<p>Cable <br> Channels</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/iton-img2.png" alt="">
									<p>Iron</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-iron-feslities2.png" alt="">
									<p>Iron <br /> Facilities</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-seting-area2.png" alt="">
									<p>Seating <br> Area </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/fan.png" alt="">
									<p>Fan</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/washing-machine.png" alt="">
									<p>Washing <br> Machine </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/heating.png" alt="">
									<p>Heating </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/guest-facilities.png" alt="">
									<p>Private <br /> Entrance</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/tumble-dryer.png" alt="">
									<p>Tumble <br /> Dryer</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-ward-rope-img2.png" alt="">
									<p>Wardrobe/Closet </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/closet.png" alt="">
									<p>Drying Rack <br />for Clothing</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-shower-img2.png" alt="">
									<p>Shower </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-haire-driyer-img2.png" alt="">
									<p>Hairdryer</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/toilet.png" alt="">
									<p>Toilet</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/bath.png" alt="">
									<p>Bathroom</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/towel.png" alt="">
									<p>Toilet <br /> Paper</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/coffee-tea-maker.png" alt="">
									<p>Tea/Coffee <br />maker</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/refrigrator.png" alt="">
									<p>Refrigerator </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/microwave.png" alt="">
									<p>Microwave</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/dishwasher.png" alt="">
									<p>Dishwasher</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/kitchen.png" alt="">
									<p>Kitchen</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/dining-area.png" alt="">
									<p>Dining <br /> Area</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/electric-kettle.png" alt="">
									<p>Electric <br />Kettle</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/kitchen.png" alt="">
									<p>Kitchenware </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/oven.png" alt="">
									<p>Oven</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/slovetop.png" alt="">
									<p>Stovetop</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/toaster.png" alt="">
									<p>Toaster</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/dining-area.png" alt="">
									<p>Dining <br /> Table</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/outdoor-furniture.png" alt="">
									<p>Outdoor <br />Furniture</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/wakeup-service.png" alt="">
									<p>Wake up <br />Service </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/alarm-clock.png" alt="">
									<p>Alarm <br />Clock</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/towels.png" alt="">
									<p>Towels</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/linen.png" alt="">
									<p>Linen</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/upper-floors-accessible-by-stairs.png" alt="">
									<p>Upper floors <br /> accessible by lift</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- 1 Bed Superior with Ocean View -->

			<div class="col-xs-12 col-sm-12 col-md-12 pad_none defination-luxury-inner-left" style="margin-top: 50px;">
				<h6 style="text-decoration: underline; font-weight: bold;">1 Bed Superior with Ocean View</h6>
			</div>

			<div class="col-xs-12 pad_none details-feature-out2 defination-luxury-inner-left" style="margin: 30px 0px;">
				<h6>Details</h6>
				<div class="col-xs-12 pad_none details-out-inner2">
					<div class="col-xs-12 col-sm-6 col-md-6 details-out-inner-left2">
						<p>
							<samp class="room-type-img03"> <img src="/assets/images/room-type-img2.png" alt=""></samp>
							<strong>Room Type: </strong> 1 Bed Superior
						</p>
						<p>
							<samp class="room-type-img03"><img src="/assets/images/room-type-detail2img.png" alt=""></samp>
							<strong>Room Size: </strong>  70m<sup>2</sup>
						</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 details-out-inner-left2 details-out-inner-right2">
						<p>
							<samp class="room-type-img03"> <img src="/assets/images/room-type--nav-2img.png" alt=""></samp>
							<strong>Layout:  </strong>
						</p>
						<p>
							<samp class="room-type-img03"><img src="/assets/images/room-type-img2-new.png" alt=""></samp>
							<strong>Breakfast: </strong>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 feture-note-out3" style="margin: 10px 0px 30px 0px;">
				<p>
					Situated on a higher level of the building, this air-conditioned apartment offers stunning ocean views.
				</p>
			</div>
			<div class="col-xs-12 pad_none details-feature-out2 margin-none2 defination-luxury-inner-left" style="margin-bottom:30px;">
				<h6>Features</h6>
				<div class="col-xs-12 pad_none details-out-inner2">
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 ">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/balcony.png" alt="">
									<p>Balcony </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/patio.png" alt="">
									<p>Patio </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/lady-eliot-island.png" alt="">
									<p>View </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/sea-view.png" alt="">
									<p>Sea <br /> View</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/flat-screen-TV.png" alt="">
									<p>TV </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-teliphone-img2.png" alt="">
									<p>Telephone </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-fmimg2.png" alt="">
									<p>Radio</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-satelite-chanel-img2.png" alt="">
									<p>Satellite <br> Channels</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-cable-img2.png" alt="">
									<p>Cable <br> Channels</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/air-condion-img2.png" alt="">
									<p>Air <br> Conditioning</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/iton-img2.png" alt="">
									<p>Iron</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-iron-feslities2.png" alt="">
									<p>Iron <br /> Facilities</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-seting-area2.png" alt="">
									<p>Seating <br> Area </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/fan.png" alt="">
									<p>Fan</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/washing-machine.png" alt="">
									<p>Washing <br> Machine </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/heating.png" alt="">
									<p>Heating </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/guest-facilities.png" alt="">
									<p>Private <br /> Entrance</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/tumble-dryer.png" alt="">
									<p>Tumble <br /> Dryer</p>
								</div>
							</div>
						</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-ward-rope-img2.png" alt="">
									<p>Wardrobe/Closet </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/closet.png" alt="">
									<p>Drying Rack <br />for Clothing</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-shower-img2.png" alt="">
									<p>Shower </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/feature-haire-driyer-img2.png" alt="">
									<p>Hairdryer</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/toilet.png" alt="">
									<p>Toilet</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/bath.png" alt="">
									<p>Bathroom</p>
								</div>
							</div>
						</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/towel.png" alt="">
									<p>Toilet <br /> Paper</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/coffee-tea-maker.png" alt="">
									<p>Tea/Coffee <br />maker</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/refrigrator.png" alt="">
									<p>Refrigerator </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/microwave.png" alt="">
									<p>Microwave</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/dishwasher.png" alt="">
									<p>Dishwasher</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/kitchen.png" alt="">
									<p>Kitchen</p>
								</div>
							</div>
						</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/dining-area.png" alt="">
									<p>Dining <br /> Area</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/electric-kettle.png" alt="">
									<p>Electric <br />Kettle</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/kitchen.png" alt="">
									<p>Kitchenware </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/oven.png" alt="">
									<p>Oven</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/slovetop.png" alt="">
									<p>Stovetop</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/toaster.png" alt="">
									<p>Toaster</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/dining-area.png" alt="">
									<p>Dining <br /> Table</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/outdoor-furniture.png" alt="">
									<p>Outdoor <br />Furniture</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/wakeup-service.png" alt="">
									<p>Wake up <br />Service </p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/alarm-clock.png" alt="">
									<p>Alarm <br />Clock</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/towels.png" alt="">
									<p>Towels</p>
								</div>
							</div>
						</div>
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/linen.png" alt="">
									<p>Linen</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 pad_none features-inner-main2">
						<div class="feauture-first03 feauture-bg-border">
							<div class="feauture-conditining0main">
								<div class="feauture-first-inner2">
									<img src="/assets/images/icons/upper-floors-accessible-by-stairs.png" alt="">
									<p>Upper floors <br /> accessible by lift</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<script src="/assets/js/jquery-1.9.1.min.js"></script>
<script src="/assets/js/jssor.slider.mini.js"></script>

<script>
	jQuery(document).ready(function ($) {
		var jssor_1_SlideshowTransitions = [
			{$Duration:1200,x:0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:-0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:-0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:-0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:-0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,$Cols:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$Rows:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$Cols:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:-0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,$Rows:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:-0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$SlideOut:true,$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,$Delay:20,$Clip:3,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,$Delay:20,$Clip:3,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,$Delay:20,$Clip:12,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,$Delay:20,$Clip:12,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2}
		];
		var jssor_1_options = {
			$AutoPlay: true,
			$SlideshowOptions: {
				$Class: $JssorSlideshowRunner$,
				$Transitions: jssor_1_SlideshowTransitions,
				$TransitionsOrder: 1
			},
			$ArrowNavigatorOptions: {
				$Class: $JssorArrowNavigator$
			},
			$ThumbnailNavigatorOptions: {
				$Class: $JssorThumbnailNavigator$,
				$Cols: 10,
				$SpacingX: 8,
				$SpacingY: 8,
				$Align: 360
			}
		};

		var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
		function ScaleSlider() {
			var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
				if (refSize) {
					refSize = Math.min(refSize, 1200);
					jssor_1_slider.$ScaleWidth(refSize);
				}
				else {
					window.setTimeout(ScaleSlider, 30);
				}
			}
		ScaleSlider();
		$(window).bind("load", ScaleSlider);
		$(window).bind("resize", ScaleSlider);
		$(window).bind("orientationchange", ScaleSlider);
	});
</script>




<%= render 'layouts/footer'%>
