<%= render 'layouts/header'%>
<section class="banner-main accomodation-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<!-- <h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">ACCOMMODATION </h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">KSG has sourced 15 properties ranging from 3.5* to luxury 5*. With both hotels and self-service apartments KSG has the right home away from home for everyone. </p> -->
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="/assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-xs-12 pad_none accomodation0details-view-iiner">
			<div class="col-xs-12 pad_none pallazo-versace-out3">
				<div class="col-xs-12 col-sm-7 col-md-7 pad_none pallazo-versace-left-sec">
					<h3 style="padding-top: 25px;">
						The Chancellor Executive and Lakeside
						<!-- <span>
							<img style="height:30px" src="/assets/images/full-star.png" alt="">
							<img style="height:30px" src="/assets/images/full-star.png" alt="">
							<img style="height:30px" src="/assets/images/full-star.png" alt="">
							<img style="height:30px" src="/assets/images/full-star.png" alt="">
							<img style="height:30px" src="/assets/images/halfstar.png" alt="">
						</span> -->
					</h3>
					<p>
						<i class="fa fa-map-marker map-marker-new3" aria-hidden="true"></i>
						19 Lake Street, Varsity Lakes, QLD 4227
					</p>
				</div>
			</div>

			<div class="col-xs12 pad_none hotel-images-outer" >
    			<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden; background-color: #24262e;">
        			<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
	            		<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
	            		<div style="position:absolute;display:block;background:url('/assets/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        			</div>
        			<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden;">
            			<div data-p="144.50" style="display: none;">
                			<img class="auto_height" data-u="image" src="/assets/images/hotel_images/the-chancellor-executive-and-lakeside/1.png"  alt="" />
            			</div>
						<div data-p="144.50" style="display: none;">
			                <img class="auto_height" data-u="image" src="/assets/images/hotel_images/the-chancellor-executive-and-lakeside/2.jpg"  alt="" />
			            </div>
						<div data-p="144.50" style="display: none;">
			                <img class="auto_height" data-u="image" src="/assets/images/hotel_images/the-chancellor-executive-and-lakeside/3.jpg"  alt="" />
			            </div>
						<div data-p="144.50" style="display: none;">
			                <img class="auto_height" data-u="image" src="/assets/images/hotel_images/the-chancellor-executive-and-lakeside/4.jpg"  alt="" />
			            </div>
						<div data-p="144.50" style="display: none;">
			                <img class="auto_height" data-u="image" src="/assets/images/hotel_images/the-chancellor-executive-and-lakeside/5.PNG"  alt="" />
			            </div>
						<div data-p="144.50" style="display: none;">
			                <img class="auto_height" data-u="image" src="/assets/images/hotel_images/the-chancellor-executive-and-lakeside/6.jpg"  alt="" />
			            </div>
						<div data-p="144.50" style="display: none;">
			                <img class="auto_height" data-u="image" src="/assets/images/hotel_images/the-chancellor-executive-and-lakeside/7.jpg"  alt="" />
			            </div>
        			</div>
        			<span data-u="arrowleft" class="jssora05l" style="top:200px;left:8px;width:40px;height:40px;">
						<i class="fa fa-angle-left fa-angle-left2 " aria-hidden="true"></i>
					</span>
        			<span data-u="arrowright" class="jssora05r" style="top:200px;right:8px;width:40px;height:40px;">
						<i class="fa fa-angle-right angle-right2" aria-hidden="true"></i>
					</span>
        			<a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
    			</div>
				<div class="col-xs-12 pad_none more-photo-heading3">
				</div>
			</div>

			<div class="col-xs-12 pad_none defination-luxury-out2" style="padding: 50px 0px 30px 0px !important;">
				<div class="col-xs-12 col-sm-12 col-md-12 pad_none defination-luxury-inner-left">
					<p>
						Chancellor Executive Apartments is located in the peaceful Varsity Lakes village at Robina on the Gold Coast. The accommodation consists of stylish, one bedroom, fully self contained apartments. Although inland from the beaches, it’s a perfect location for Games enthusiasts that are looking for comfortable and affordable accommodation on the Gold Coast.
					</p>
					<br />
					<p>
						It is just a short 5 minute stroll from Bond University, 5 min drive to the largest shopping centre –Robina Town Centre and only a short drive from the major attractions of the holiday friendly Gold Coast including Robina Stadium which will host Rugby Sevens.
					</p>
					<br />
					<p>
						The local area is filled with a number of shops and restaurants.
					</p>
					<br />
				</div>
			</div>


			<!-- 1 Bed Standard -->
			<div class="col-xs-12 col-sm-12 col-md-12 pad_none defination-luxury-inner-left" style="margin-bottom: 20px !important;">
				<h6 style="text-decoration: underline; font-weight: bold;">1 Bed Standard</h6>
			</div>
			<div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
				<ul>
					<li>Business facilities </li>
					<li>WiFi internet access (charges apply)</li>
					<li>Cable television (hotel package only)</li>
					<li>Bedroom with king or twin beds </li>
					<li>Separate living area</li>
					<li>Private balcony</li>
					<li>Ensuite</li>
					<li>Full kitchen facilities</li>
					<li>Laundry with washer and dryer</li>
					<li>Air-conditioning and heating (Living Room)</li>
					<li>Ceiling fans</li>
				</ul>
			</div>

			<!-- 1 Bed Superior -->

			<div class="col-xs-12 col-sm-12 col-md-12 pad_none defination-luxury-inner-left" style="margin-top: 50px;">
				<h6 style="text-decoration: underline; font-weight: bold;">
					The Chancellor Apartments provides contemporary facilities for residents & guests staying in one of the apartments.
				</h6>
			</div>
			<div class="col-xs-12 col-md-12 col-sm-12 officaly-ticketing-agancy-left2">
				<ul>
					<li>Fitness room</li>
					<li>Outdoor pool</li>
					<li>BBQ area poolside</li>
					<li>Free, secure parking</li>
					<li>WiFi internet access (charges apply)</li>
					<li>Meeting room which seats up to 40 guests max</li>
				</ul>
			</div>

		</div>
	</div>
</div>


<script src="/assets/js/jquery-1.9.1.min.js"></script>
<script src="/assets/js/jssor.slider.mini.js"></script>

<script>
	jQuery(document).ready(function ($) {
		var jssor_1_SlideshowTransitions = [
			{$Duration:1200,x:0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:-0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:-0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:-0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:-0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,$Cols:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$Rows:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:0.3,$Cols:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,y:-0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,$Rows:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:-0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$SlideOut:true,$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,$Delay:20,$Clip:3,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,$Delay:20,$Clip:3,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,$Delay:20,$Clip:12,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
			{$Duration:1200,$Delay:20,$Clip:12,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2}
		];
		var jssor_1_options = {
			$AutoPlay: true,
			$SlideshowOptions: {
				$Class: $JssorSlideshowRunner$,
				$Transitions: jssor_1_SlideshowTransitions,
				$TransitionsOrder: 1
			},
			$ArrowNavigatorOptions: {
				$Class: $JssorArrowNavigator$
			},
			$ThumbnailNavigatorOptions: {
				$Class: $JssorThumbnailNavigator$,
				$Cols: 10,
				$SpacingX: 8,
				$SpacingY: 8,
				$Align: 360
			}
		};

		var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
		function ScaleSlider() {
			var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
				if (refSize) {
					refSize = Math.min(refSize, 1200);
					jssor_1_slider.$ScaleWidth(refSize);
				}
				else {
					window.setTimeout(ScaleSlider, 30);
				}
			}
		ScaleSlider();
		$(window).bind("load", ScaleSlider);
		$(window).bind("resize", ScaleSlider);
		$(window).bind("orientationchange", ScaleSlider);
	});
</script>


<%= render 'layouts/footer'%>
