<%= render 'layouts/header'%>
   <link href="assets/css/style_carousel.css" rel="stylesheet" type="text/css">
   <section class="banner-main the-city-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">The City</h2>

				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="assets/images/gold-cost-img.png" alt="">
	</div>
</section>


<section class="the-city-main-outer4">

<div class="container">
	<div class="row">
			<div class="exclusive-reprensentatio-inner the-city-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>Gold coast</samp> <br> Paradise on your doorstep </h2>

				<div class="col-xs-12 pad_none the-city-doorstep-inner3">
				<!-- slider add start-->




				<!-- slider add -->

				<div class="col-xs-12 pad_none the-city-doorstep-bottom2">
					<p>Gold Coast is one of Australia's most popular holiday destination for both locals and international guests. It is easily accessible from all major cities around Australia and has direct flights from many international cities. </p>

					<p>Gold Coast is a great blend of city, <strong> regional, coastal and hinterland locales. </strong> The Commonwealth Games will highlight the extensive array of sporting opportunities and venues in the area and Gold Coast lets you enjoy your favourite style of holiday.
                   </p>
				   <p>Best time of year to go? It is not a matter of planning when, just planning how you're going to fit in a timetable of fun. Formal seasons are less apparent with an average of <strong> 300 days of sunshine</strong> a year. Expect cooler temperatures in hinterland and rural areas year-round, especially in winter. Nature unveils its glory every day with golden summers, clear-sky winters, crisp autumn hinterland mornings and vibrant, optimistic springs. </p>
				</div>

			</div>
			</div>
			</div>
			</div>

</section>



<%= render 'layouts/footer'%>
