<%= render 'layouts/header'%>
<section class="banner-main creat-own-packages-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">create your own packages</h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">Want to build your own dream Gold Coast 2018 Commonwealth Games experience? Get started here.</p>
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="/assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>

<section class="create-your-own-packages-main-outer4" style="padding-bottom: 20px !important;">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4 ">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">create your own packages</h2>
				<div class="col-xs-12 pad_none peta-joy-main-outr2 athletics-packages_inner">
					<div class="col-xs-12 pad_none athletics-packages_inner01" style="padding-top: 0px !important;">
   						<p>
   							"Create your own package" to attend the Gold Coast 2018 Commonwealth Games with Kingdom Sports Group.
   						</p>

   						<div class="athletics-yello-border">
			             	<div class="athletics-border">
			                	<h3>STEP 1</h3>
			                	<p>
			                		Choose from the fantastic hotels and apartments we have reserved <br />
			                		a. Select the number of nights <br />
   									b. Select the check in date <br />
			                	</p>
			             	</div>
			           	</div>

			           	<div class="athletics-yello-border">
			             	<div class="athletics-border">
			                	<h3>STEP 2</h3>
			                	<p>
			                		Download the request form and choose your event tickets of choice (see inclusions below).

			                	</p>
			             	</div>
			           	</div>

   						<p style="margin-top: 20px;">
   							Then, you can add local tours and even theme park tickets. Unless you are going into space, it would be a
                            shame to come all this way to Gorgeous Gold Coast and not see the Great Barrier Reef. If you’re going into space
                            then you can see it from there as well. We heard it’s pretty impressive.
   						</p>
   						<p>
   							You can request more than the package limit of event tickets, for example if your package is for 4 nights and includes 4 event
                            tickets of your choice (and that is per person), but you wish to   see 3 events a day which would mean 9 events per person,
                            one of our consultants can quote you the additional add on if your request is fair and reasonable.
   						</p>
   					</div>

   					<div class="col-xs-12 pad_none athletics-packages_inner01" style="width: 60%; padding-top: 22px !important; border: 1px solid; margin: 0px 20%;">
   						<p>
   							<strong>FIRST RELEASE</strong> - Gold and Platinum Create your own packages <br />
   							<strong>COMING SOON</strong> - Silver and Bronze Create your own packages
   						</p>
   					</div>

				</div>
			</div>
		</div>
	</div>
</section>


<div class="container">
<div class="col-xs-12 pad_none condition-of-sale-table-new2">
  <div class="col-xs-12 pad_none condition-of-sale-heading-yellow-out">
    <span style="width: 8%;">Bundle</span>
    <span style="width: 8%;">Nights</span>
    <span style="width: 8%;">In</span>
    <span style="width: 8%;">Out</span>
    <span style="width: 8%;">Hotel</span>
    <span style="width: 8%;">Room Type</span>
    <span style="width: 8%;">Tickets Included</span>
    <span style="width: 9%;">AUD 2px (Per person) </span>
    <span style="width: 9%;">AUD 1px (Price for 1) </span>
    <span style="width: 9%;">GBP 2px (Per person) </span>
    <span style="width: 9%;">GBP 1px (Price for 1) </span>
    <span style="width: 8%;">Download</span>
  </div>

  <div class="col-xs-12 pad_none condition-of-sale-table-scroll-out scrollbox">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X1-GOLD</p>
              <p style="width: 8%;">8 Nights</p>
              <p style="width: 8%;">31/3/18</p>
              <p style="width: 8%;">8/4/18</p>
              <p style="width: 8%;">4.5 or 5 Star Hotel</p>
              <p style="width: 8%;">Premium Twin / 2 Beds</p>
              <p style="width: 8%;">7</p>
              <p style="width: 9%;">AU$ &nbsp;4425</p>
              <p style="width: 9%;">AU$ &nbsp;7250</p>
              <p style="width: 9%;">£ &nbsp;2810</p>
              <p style="width: 9%;">£ &nbsp;4604</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X1-GOLD.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X1-GOLD" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X2-GOLD</p>
              <p style="width: 8%;">15 Nights</p>
              <p style="width: 8%;">1/4/18</p>
              <p style="width: 8%;">16/4/18</p>
              <p style="width: 8%;">4.5 or 5 Star Hotel</p>
              <p style="width: 8%;">Premium Twin / 2 Beds</p>
              <p style="width: 8%;">12</p>
              <p style="width: 9%;">AU$ &nbsp;6445</p>
              <p style="width: 9%;">AU$ &nbsp;10350</p>
              <p style="width: 9%;">£ &nbsp;4093</p>
              <p style="width: 9%;">£ &nbsp;6572</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X2-GOLD.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X2-GOLD" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X3-GOLD</p>
              <p style="width: 8%;">3 Nights</p>
              <p style="width: 8%;">4/4/18</p>
              <p style="width: 8%;">7/4/18</p>
              <p style="width: 8%;">4.5 or 5 Star Hotel</p>
              <p style="width: 8%;">King or Twin</p>
              <p style="width: 8%;">3</p>
              <p style="width: 9%;">AU$ &nbsp;2575</p>
              <p style="width: 9%;">AU$ &nbsp;3990</p>
              <p style="width: 9%;">£ &nbsp;1635</p>
              <p style="width: 9%;">£ &nbsp;2534</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X3-GOLD.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X3-GOLD" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X4-GOLD</p>
              <p style="width: 8%;">12 Nights</p>
              <p style="width: 8%;">4/4/18</p>
              <p style="width: 8%;">16/4/18</p>
              <p style="width: 8%;">4.5 or 5 Star Hotel</p>
              <p style="width: 8%;">King or Twin</p>
              <p style="width: 8%;">10</p>
              <p style="width: 9%;">AU$ &nbsp;5650</p>
              <p style="width: 9%;">AU$ &nbsp;9290</p>
              <p style="width: 9%;">£ &nbsp;3588</p>
              <p style="width: 9%;">£ &nbsp;5899</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X4-GOLD.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X4-GOLD" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X5-GOLD</p>
              <p style="width: 8%;">4 Nights</p>
              <p style="width: 8%;">4/4/18</p>
              <p style="width: 8%;">8/4/18</p>
              <p style="width: 8%;">4.5 or 5 Star Hotel</p>
              <p style="width: 8%;">King or Twin</p>
              <p style="width: 8%;">4</p>
              <p style="width: 9%;">AU$ &nbsp;2925</p>
              <p style="width: 9%;">AU$ &nbsp;4500</p>
              <p style="width: 9%;">£ &nbsp;1857</p>
              <p style="width: 9%;">£ &nbsp;2858</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X5-GOLD.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X5-GOLD" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X6-GOLD</p>
              <p style="width: 8%;">4 Nights</p>
              <p style="width: 8%;">8/4/18</p>
              <p style="width: 8%;">12/4/18</p>
              <p style="width: 8%;">4.5 or 5 Star Hotel</p>
              <p style="width: 8%;">King or Twin</p>
              <p style="width: 8%;">4</p>
              <p style="width: 9%;">AU$ &nbsp;2925</p>
              <p style="width: 9%;">AU$ &nbsp;4500</p>
              <p style="width: 9%;">£ &nbsp;1857</p>
              <p style="width: 9%;">£ &nbsp;2858</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X6-GOLD.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X6-GOLD" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X7-GOLD</p>
              <p style="width: 8%;">4 Nights</p>
              <p style="width: 8%;">12/4/18</p>
              <p style="width: 8%;">16/4/18</p>
              <p style="width: 8%;">4.5 or 5 Star Hotel</p>
              <p style="width: 8%;">King or Twin</p>
              <p style="width: 8%;">4</p>
              <p style="width: 9%;">AU$ &nbsp;2925</p>
              <p style="width: 9%;">AU$ &nbsp;4500</p>
              <p style="width: 9%;">£ &nbsp;1857</p>
              <p style="width: 9%;">£ &nbsp;2858</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X7-GOLD.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X7-GOLD" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X8-GOLD</p>
              <p style="width: 8%;">8 Nights</p>
              <p style="width: 8%;">8/4/18</p>
              <p style="width: 8%;">16/4/18</p>
              <p style="width: 8%;">4.5 or 5 Star Hotel</p>
              <p style="width: 8%;">King or Twin</p>
              <p style="width: 8%;">7</p>
              <p style="width: 9%;">AU$ &nbsp;4425</p>
              <p style="width: 9%;">AU$ &nbsp;7250</p>
              <p style="width: 9%;">£ &nbsp;2810</p>
              <p style="width: 9%;">£ &nbsp;4604</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X8-GOLD.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X8-GOLD" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X9-GOLD</p>
              <p style="width: 8%;">8 Nights</p>
              <p style="width: 8%;">4/4/18</p>
              <p style="width: 8%;">12/4/18</p>
              <p style="width: 8%;">4.5 or 5 Star Hotel</p>
              <p style="width: 8%;">King or Twin</p>
              <p style="width: 8%;">7</p>
              <p style="width: 9%;">AU$ &nbsp;4425</p>
              <p style="width: 9%;">AU$ &nbsp;7250</p>
              <p style="width: 9%;">£ &nbsp;2810</p>
              <p style="width: 9%;">£ &nbsp;4604</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X9-GOLD.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X9-GOLD" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X10-GOLD</p>
              <p style="width: 8%;">9 Nights</p>
              <p style="width: 8%;">4/4/18</p>
              <p style="width: 8%;">13/4/18</p>
              <p style="width: 8%;">4.5 or 5 Star Hotel</p>
              <p style="width: 8%;">King or Twin</p>
              <p style="width: 8%;">8</p>
              <p style="width: 9%;">AU$ &nbsp;4750</p>
              <p style="width: 9%;">AU$ &nbsp;7950</p>
              <p style="width: 9%;">£ &nbsp;3016</p>
              <p style="width: 9%;">£ &nbsp;5048</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X10-GOLD.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X10-GOLD" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X11-GOLD</p>
              <p style="width: 8%;">9 Nights</p>
              <p style="width: 8%;">7/4/18</p>
              <p style="width: 8%;">16/4/18</p>
              <p style="width: 8%;">4.5 or 5 Star Hotel</p>
              <p style="width: 8%;">King or Twin</p>
              <p style="width: 8%;">8</p>
              <p style="width: 9%;">AU$ &nbsp;4750</p>
              <p style="width: 9%;">AU$ &nbsp;7950</p>
              <p style="width: 9%;">£ &nbsp;3016</p>
              <p style="width: 9%;">£ &nbsp;5048</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X11-GOLD.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X11-GOLD" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X12-PLT</p>
              <p style="width: 8%;">4 Nights</p>
              <p style="width: 8%;">4/4/18</p>
              <p style="width: 8%;">8/4/18</p>
              <p style="width: 8%;">Palazzo Versace 5+ Star</p>
              <p style="width: 8%;">Superior</p>
              <p style="width: 8%;">4</p>
              <p style="width: 9%;">AU$ &nbsp;3275</p>
              <p style="width: 9%;">AU$ &nbsp;5250</p>
              <p style="width: 9%;">£ &nbsp;2080</p>
              <p style="width: 9%;">£ &nbsp;3334</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X12-PLT.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X12-PLT" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X13-PLT</p>
              <p style="width: 8%;">8 Nights</p>
              <p style="width: 8%;">4/4/18</p>
              <p style="width: 8%;">12/4/18</p>
              <p style="width: 8%;">Palazzo Versace 5+ Star</p>
              <p style="width: 8%;">Superior</p>
              <p style="width: 8%;">7</p>
              <p style="width: 9%;">AU$ &nbsp;4995</p>
              <p style="width: 9%;">AU$ &nbsp;8490</p>
              <p style="width: 9%;">£ &nbsp;3172</p>
              <p style="width: 9%;">£ &nbsp;5391</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X13-PLT.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X13-PLT" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X14-PLT</p>
              <p style="width: 8%;">9 Nights</p>
              <p style="width: 8%;">4/4/18</p>
              <p style="width: 8%;">13/4/18</p>
              <p style="width: 8%;">Palazzo Versace 5+ Star</p>
              <p style="width: 8%;">Superior</p>
              <p style="width: 8%;">8</p>
              <p style="width: 9%;">AU$ &nbsp;5400</p>
              <p style="width: 9%;">AU$ &nbsp;8990</p>
              <p style="width: 9%;">£ &nbsp;3429</p>
              <p style="width: 9%;">£ &nbsp;5709</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X14-PLT.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X14-PLT" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X15-PLT</p>
              <p style="width: 8%;">12 Nights</p>
              <p style="width: 8%;">4/4/18</p>
              <p style="width: 8%;">16/4/18</p>
              <p style="width: 8%;">Palazzo Versace 5+ Star</p>
              <p style="width: 8%;">Superior</p>
              <p style="width: 8%;">10</p>
              <p style="width: 9%;">AU$ &nbsp;5650</p>
              <p style="width: 9%;">AU$ &nbsp;10950</p>
              <p style="width: 9%;">£ &nbsp;3588</p>
              <p style="width: 9%;">£ &nbsp;6953</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X15-PLT.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X15-PLT" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X16-PLT</p>
              <p style="width: 8%;">4 Nights</p>
              <p style="width: 8%;">8/4/18</p>
              <p style="width: 8%;">12/4/18</p>
              <p style="width: 8%;">Palazzo Versace 5+ Star</p>
              <p style="width: 8%;">Superior</p>
              <p style="width: 8%;">4</p>
              <p style="width: 9%;">AU$ &nbsp;3275</p>
              <p style="width: 9%;">AU$ &nbsp;5250</p>
              <p style="width: 9%;">£ &nbsp;2080</p>
              <p style="width: 9%;">£ &nbsp;3334</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X16-PLT.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X16-PLT" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X17-PLT</p>
              <p style="width: 8%;">4 Nights</p>
              <p style="width: 8%;">12/4/18</p>
              <p style="width: 8%;">16/4/18</p>
              <p style="width: 8%;">Palazzo Versace 5+ Star</p>
              <p style="width: 8%;">Superior</p>
              <p style="width: 8%;">4</p>
              <p style="width: 9%;">AU$ &nbsp;3275</p>
              <p style="width: 9%;">AU$ &nbsp;5250</p>
              <p style="width: 9%;">£ &nbsp;2080</p>
              <p style="width: 9%;">£ &nbsp;3334</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X17-PLT.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X17-PLT" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X18-PLT</p>
              <p style="width: 8%;">8 Nights</p>
              <p style="width: 8%;">8/4/18</p>
              <p style="width: 8%;">16/4/18</p>
              <p style="width: 8%;">Palazzo Versace 5+ Star</p>
              <p style="width: 8%;">Superior</p>
              <p style="width: 8%;">7</p>
              <p style="width: 9%;">AU$ &nbsp;4995</p>
              <p style="width: 9%;">AU$ &nbsp;8490</p>
              <p style="width: 9%;">£ &nbsp;3172</p>
              <p style="width: 9%;">£ &nbsp;5391</p>
              <p style="width: 8%;">
                <a href="</assets/upload/coyp-packages/X18-PLT.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X18-PLT" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title ">
            <div class="accordion-toggle " data-toggle="collapse">
              <p style="width: 8%;">X19-PLT</p>
              <p style="width: 8%;">9 Nights</p>
              <p style="width: 8%;">7/4/18</p>
              <p style="width: 8%;">16/4/18</p>
              <p style="width: 8%;">Palazzo Versace 5+ Star</p>
              <p style="width: 8%;">Superior</p>
              <p style="width: 8%;">8</p>
              <p style="width: 9%;">AU$ &nbsp;5400</p>
              <p style="width: 9%;">AU$ &nbsp;8990</p>
              <p style="width: 9%;">£ &nbsp;3429</p>
              <p style="width: 9%;">£ &nbsp;5709</p>
              <p style="width: 8%;">
                <a href="/assets/upload/coyp-packages/X19-PLT.xlsx" target="_blank">
                  <i class="fa fa-download downloadBtn" data-filename="X19-PLT" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </h4>
        </div>
        </div>
    </div>
  </div>
</div>
</div>



<section class="condition-of-sale-main-outer2" style="padding-top: 60px !important;">
<div>
<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1140px; height: 600px; overflow: hidden; visibility: hidden; background-color: #24262e;">
  <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
    <div style="position:absolute;display:block;background:url('/assets/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
  </div>
  <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1140px; height: 600px; overflow: hidden;">
    <div data-p="144.50" style="display: none;">
      <img data-u="image" src="/assets/images/coyp-slider/2.jpg"  alt="" />
    </div>
    <div data-p="144.50" style="display: none;">
      <img data-u="image" src="/assets/images/coyp-slider/3.jpg"  alt="" />
    </div>
    <div data-p="144.50" style="display: none;">
      <img data-u="image" src="/assets/images/coyp-slider/4.jpg"  alt="" />
    </div>
    <div data-p="144.50" style="display: none;">
      <img data-u="image" src="/assets/images/coyp-slider/5.jpg"  alt="" />
    </div>
    <div data-p="144.50" style="display: none;">
      <img data-u="image" src="/assets/images/coyp-slider/6.jpg"  alt="" />
    </div>
  </div>

  <span data-u="arrowleft" class="jssora05l" style="top:275px;left:8px;width:40px;height:40px;">
    <i class="fa fa-angle-left fa-angle-left2 " aria-hidden="true"></i>
  </span>
  <span data-u="arrowright" class="jssora05r" style="top:275px;right:8px;width:40px;height:40px;">
    <i class="fa fa-angle-right angle-right2" aria-hidden="true"></i>
  </span>
  <a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
</div>
</div>
</section>








<!---- hotels views start ------>
<section class="brand-look-slider-bg2 create-own-packages-includes-main-bg" style="padding-bottom: 20px !important;">
<div class="container">
<div class="row">
  <div class="col-xs-12 pad_none create-own-packages-includes-outer">
    <h2><samp>Every package includes the following, </samp> <br>
                    all tickets are subject to availability</h2>

    <div class="col-xs-12 pad_none every-package-includes-bottom2">
    <div class="col-xs-12 col-md-6 col-sm-6  pad_none every-package-space-same">
      <div class="col-xs-12 pad_none every-package-includes-left-sec">
        <ul>
          <li><span>3 Nights </span> 3 Event tickets of your choice</li>
          <li><span>4 Nights </span> 4 Event tickets of your choice</li>
          <li><span>8 Nights </span> 7 Event tickets of your choice</li>
          <li><span>9 Nights </span> 8 Event tickets of your choice</li>
          <li><span>12 Nights </span> 10 Event tickets of your choice</li>
          <li><span>15 Nights </span> 12 Event tickets of your choice</li>
          <li>Priority ability to book further tickets to enhance your program</li>
          <li>KSG Meet and Greet at Gold Coast or Brisbane Airports</li>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-sm-6  pad_none every-package-space-same">
      <div class="col-xs-12 pad_none every-package-includes-left-sec every-package-yelloy-bg2">
        <ul>
          <li>Transfers to and from the Airport / Hotel </li>
          <li>Free Internet in the hotel </li>
          <li>KSG GC2018 Games Merchandise Pack </li>
          <li>
            KSG Support Staff throughout your stay <br />
             - Palazzo Versace also includes KSG Games Time Tour Concierge each morning at your hotel from 07:30 - 09:30 to assist you during your stay. <br />
            <li>Ability to book additional tours to Sydney, Melbourne, Cairns, Central Australia (Uluru), New Zealand and the Great Barrier Reef including flights at a discounted rate.</li>
          </li>
        </ul>
      </div>
    </div>

    </div>

  </div>
</div>
</div>
</section>
<!---- hotels views end ------>

<section class="condition-of-sale-main-outer2">
<div class="container">
<div class="row">
  <div class="col-xs-12 pad_none condition-of-sale-main-inner set_response-form-outr3-main">
    <h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">
    how to order</h2>

    <div class="col-xs-12 col-md-4 col-sm-4 pad_none officaly-ticketing-agancy-left2" style="width: 100%;">
          <ul>
            <li>Download the order form.</li>
            <li>Complete your request, make sure you put your name and address on the order form.</li>
            <li>Save it to your computer in a location that is easy to find.</li>
            <li>Upload your form using the tool below, make sure you again place your name and email to match your order form.</li>
          </ul>
        </div>

    <br style="clear: both;" />
    <p style="margin: 20px 0px;">Please refer to the terms and conditions before you place an order. You can find the <a href="/assets/upload/Terms_and_Conditions_of_Sale_-_KSG_LEGAL_POLICY_v2.pdf" target="_blank">terms here</a> <br><br>
            If you are having any problems placing a request, don’t worry, our concierge ticketing and accommodations team can assist you,
                simply email us at <u>info@kingdomsg.com</u> and we would be happy to help you.
                Just take note of the package you might be interested in.</p>

    <div class="col-md-12">
<!--
      <div class="col-md-12">
        <a class="subscribe-submit" href="<?php echo base_url(); ?>upload/GC2018-Order-form-KSG-v5.xlsx"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Order Form</a>
      </div>
-->
      <div class="clearfix">&nbsp;</div>
    </div>

    <div class="col-xs-12 set_response-form-outr3">
      <div id="set_response"  class="alert text-center"></div>
      <form name="book_event_ticket" id="book_event_ticket" method="post" action="/event/ticketbook"  enctype="multipart/form-data">
        <span id="user_data_box" style="">
          <div class="col-md-6">
            <div class="form-group">
              <label>Name</label>
              <input type="text" name="event_user_name" id="event_user_name" required class="form-control" placeholder="Enter Your Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Email</label>
              <input type="text" name="event_user_email" id="event_user_email" required class="form-control" placeholder="Enter Your Email" >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Phone</label>
              <input type="text" name="event_user_phone" id="event_user_phone" required class="form-control"  placeholder="Enter Your Phone">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Upload file</label>
              <input type="file" name="file" id="file" class="form-control" required placeholder="File">
            </div>
          </div>
          <div class="col-xs-12">
            <button type="submit" class="subscribe-submit subscribe-submit-new">Submit</button>
          </div>
        </span>
        <br style="clear: both;" />
        <div class="clearfix">&nbsp;</div>
      </form>
    </div>
  </div>
</div>
</div>
</section>



<script src="/assets/js/jquery-1.9.1.min.js"></script>
<script src="/assets/js/jssor.slider.mini.js"></script>
<script>

jQuery(document).ready(function ($) {

var BASE_URL = "/";
$('.downloadBtn').click(function(){
   window.location.href= BASE_URL + 'assets/upload/coyp-packages/' + $(this).data('filename') + '.xlsx';
})

var jssor_1_SlideshowTransitions = [
  {$Duration:1200,x:0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,x:-0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,x:-0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,x:0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,y:0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,y:-0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,y:-0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,y:0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,x:0.3,$Cols:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,x:0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,y:0.3,$Rows:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,y:0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,y:0.3,$Cols:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,y:-0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,x:0.3,$Rows:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,x:-0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$SlideOut:true,$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,$Delay:20,$Clip:3,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,$Delay:20,$Clip:3,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,$Delay:20,$Clip:12,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
  {$Duration:1200,$Delay:20,$Clip:12,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2}
];
var jssor_1_options = {
  $AutoPlay: true,
  $SlideshowOptions: {
  $Class: $JssorSlideshowRunner$,
  $Transitions: jssor_1_SlideshowTransitions,
  $TransitionsOrder: 1
  },
  $ArrowNavigatorOptions: {
  $Class: $JssorArrowNavigator$
  },
  $ThumbnailNavigatorOptions: {
  $Class: $JssorThumbnailNavigator$,
  $Cols: 10,
  $SpacingX: 8,
  $SpacingY: 8,
  $Align: 360
  }
};
var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

//responsive code begin
//you can remove responsive code if you don't want the slider scales while window resizes
function ScaleSlider() {
  var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
  if (refSize) {
    refSize = Math.min(refSize, 1200);
    jssor_1_slider.$ScaleWidth(refSize);
  }
  else {
    window.setTimeout(ScaleSlider, 30);
  }
}
ScaleSlider();
$(window).bind("load", ScaleSlider);
$(window).bind("resize", ScaleSlider);
$(window).bind("orientationchange", ScaleSlider);
//responsive code end
});
</script>

<%= render 'layouts/footer'%>
