<%= render 'header'%>
<section class="banner-main event-tickets-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">EVENT TICKETS </h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">Stand alone tickets for sale to residents of authorised countries.</p>
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="assets/images/gold-cost-img.png" alt="">
	</div>
</section>


<section class="accommodation-main-outer4 event-ticket-inner3">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>EVENT TICKET</samp> <br>INFORMATION </h2>
					<div class="col-xs-12 pad_none event-ticket-main-out4">
						<p>
							Kingdom Sports Group is an authorised ticket reseller for the Gold Coast 2018 Commonwealth Games and you can secure your piece of history now. Event ticket only applications are now open.
						</p>

					</div>
			</div>
		</div>
	</div>
</section>

<section class="ticket-applications-main2">
<img src="assets/images/ticket-info-design-img3.png" class="ticket-info-design-img3">
	<div class="container">
		<div class="row">
			<div class="ticket-applications-inner2">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>TIMELINE FOR</samp> <br> ticket only applications</h2>

				<div class="col-xs-12 pad_none ticket2-applications-lottery-out">
					<div class="col-xs-12 pad_none ticket2-applications-fisrt">
						<div class="col-xs-12 col-xs-2 col-md-2 pad_none ticket2-applications-calender2">
							<span><img src="assets/images/clender-icon-img1.png" alt=""></span>
							<h4>15 May <br> <strong>2017</strong></h4>
							<img src=">assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col-xs-12 col-xs-10 col-md-10 pad_none ticket2-applications-right-purpel2">
						<div class=" col-xs-12 pad_none ticket2-applications3-right-inner">
							<h5>Event Tickets lottery – Application phase opens </h5>
							<p>(Note Travel Packages including tickets and accommodation, create your own packages including tickets and accommodation, and standalone accommodation are all available for immediate purchase) </p>
						</div>
						</div>
					</div>

					<div class="col-xs-12 pad_none ticket2-applications-fisrt">
						<div class="col-xs-12 col-xs-2 col-md-2 pad_none ticket2-applications-calender2">
							<span><img src="assets/images/clender-icon-img1.png" alt=""></span>
							<h4>5 Jun <br> <strong>2017</strong></h4>
							<img src="assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col-xs-12 col-xs-10 col-md-10 pad_none ticket2-applications-right-purpel2">
						<div class=" col-xs-12 pad_none ticket2-applications3-right-inner">
							<h5>Event Tickets lottery – Application phase temporarily closes  </h5>
						</div>
						</div>
					</div>


					<div class="col-xs-12 pad_none ticket2-applications-fisrt">
						<div class="col-xs-12 col-xs-2 col-md-2 pad_none ticket2-applications-calender2">
							<span><img src="assets/images/clender-icon-img1.png" alt=""></span>
							<h4>12 Jun <br> <strong>2017</strong></h4>
							<img src="assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col-xs-12 col-xs-10 col-md-10 pad_none ticket2-applications-right-purpel2">
						<div class=" col-xs-12 pad_none ticket2-applications3-right-inner">
							<p>Event Tickets results are complete, payment is automatically charged for successful results to all
								card holders under AU$2,500 and over AU$2,500 an invoice for payment within 7 days is issued.
							</p>
							<p>For any tickets that are <a target="_blank" href="/assets/upload/GC2018_Waitlisted_Event_Tickets_T&C_KSG_v1.pdf" style="color: white; text-decoration: underline;">waitlisted / backordered</a>, standalone event ticket clients have 7 days
								in which to accept the terms of sale and make the necessary 50% payment deposit. Please refer
								to the terms and conditions of sale for further information.
							</p>
						</div>
						</div>
					</div>

					<div class="col-xs-12 pad_none ticket2-applications-fisrt">
						<div class="col-xs-12 col-xs-2 col-md-2 pad_none ticket2-applications-calender2">
							<span><img src="assets/images/clender-icon-img1.png" alt=""></span>
							<h4>19 Jun <br> <strong>2017</strong></h4>
							<img src="assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col-xs-12 col-xs-10 col-md-10 pad_none ticket2-applications-right-purpel2">
						<div class=" col-xs-12 pad_none ticket2-applications3-right-inner">
							<h5>Event Tickets general release</h5>

						</div>
						</div>
					</div>


				</div>

			</div>
		</div>
	</div>
</section>


<%= render 'footer'%>
