<%= render 'header'%>
<section class="banner-main event-tickets-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">EVENT TICKETS </h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">Stand alone tickets for sale to residents of authorised countries.</p>
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="assets/images/gold-cost-img.png" alt="">
	</div>
</section>


<section class="accommodation-main-outer4 event-ticket-inner3">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>EVENT TICKET</samp> <br>INFORMATION </h2>
					<div class="col-xs-12 pad_none event-ticket-main-out4">
						<p>
							Kingdom Sports Group is an authorised ticket reseller for the Gold Coast 2018 Commonwealth Games and you can secure your piece of history now. Event ticket only applications are now open.
						</p>

					</div>
			</div>
		</div>
	</div>
</section>

<section class="ticket-applications-main2">
<img src="assets/images/ticket-info-design-img3.png" class="ticket-info-design-img3">
	<div class="container">
		<div class="row">
			<div class="ticket-applications-inner2">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>TIMELINE FOR</samp> <br> ticket only applications</h2>

				<div class="col-xs-12 pad_none ticket2-applications-lottery-out">
					<div class="col-xs-12 pad_none ticket2-applications-fisrt">
						<div class="col-xs-12 col-xs-2 col-md-2 pad_none ticket2-applications-calender2">
							<span><img src="assets/images/clender-icon-img1.png" alt=""></span>
							<h4>15 May <br> <strong>2017</strong></h4>
							<img src="assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col-xs-12 col-xs-10 col-md-10 pad_none ticket2-applications-right-purpel2">
						<div class=" col-xs-12 pad_none ticket2-applications3-right-inner">
							<h5>Event Tickets lottery – Application phase opens </h5>
							<p>(Note Travel Packages including tickets and accommodation, create your own packages including tickets and accommodation, and standalone accommodation are all available for immediate purchase) </p>
						</div>
						</div>
					</div>

					<div class="col-xs-12 pad_none ticket2-applications-fisrt">
						<div class="col-xs-12 col-xs-2 col-md-2 pad_none ticket2-applications-calender2">
							<span><img src="assets/images/clender-icon-img1.png" alt=""></span>
							<h4>5 Jun <br> <strong>2017</strong></h4>
							<img src="assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col-xs-12 col-xs-10 col-md-10 pad_none ticket2-applications-right-purpel2">
						<div class=" col-xs-12 pad_none ticket2-applications3-right-inner">
							<h5>Event Tickets lottery – Application phase temporarily closes  </h5>
						</div>
						</div>
					</div>


					<div class="col-xs-12 pad_none ticket2-applications-fisrt">
						<div class="col-xs-12 col-xs-2 col-md-2 pad_none ticket2-applications-calender2">
							<span><img src="assets/images/clender-icon-img1.png" alt=""></span>
							<h4>12 Jun <br> <strong>2017</strong></h4>
							<img src="assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col-xs-12 col-xs-10 col-md-10 pad_none ticket2-applications-right-purpel2">
						<div class=" col-xs-12 pad_none ticket2-applications3-right-inner">
							<p>Event Tickets results are complete, payment is automatically charged for successful results to all
								card holders under AU$2,500 and over AU$2,500 an invoice for payment within 7 days is issued.
							</p>
							<p>For any tickets that are <a target="_blank" href="/assets/upload/GC2018_Waitlisted_Event_Tickets_T&C_KSG_v1.pdf" style="color: white; text-decoration: underline;">waitlisted / backordered</a>, standalone event ticket clients have 7 days
								in which to accept the terms of sale and make the necessary 50% payment deposit. Please refer
								to the terms and conditions of sale for further information.
							</p>
						</div>
						</div>
					</div>

					<div class="col-xs-12 pad_none ticket2-applications-fisrt">
						<div class="col-xs-12 col-xs-2 col-md-2 pad_none ticket2-applications-calender2">
							<span><img src="assets/images/clender-icon-img1.png" alt=""></span>
							<h4>19 Jun <br> <strong>2017</strong></h4>
							<img src="assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col-xs-12 col-xs-10 col-md-10 pad_none ticket2-applications-right-purpel2">
						<div class=" col-xs-12 pad_none ticket2-applications3-right-inner">
							<h5>Event Tickets general release</h5>

						</div>
						</div>
					</div>


				</div>

			</div>
		</div>
	</div>
</section>


<section class="condition-of-sale-main-outer2">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 pad_none condition-of-sale-main-inner set_response-form-outr3-main">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">
				how to order</h2>

				<div class="col-xs-12 col-md-4 col-sm-4 pad_none officaly-ticketing-agancy-left2" style="width: 100%;">
							<ul>
								<li>Download the order form.</li>
								<li>Complete your request, make sure you put your name and address on the order form.</li>
								<li>Save it to your computer in a location that is easy to find.</li>
								<li>Upload your form using the tool below, make sure you again place your name and email to match your order form.</li>
							</ul>
						</div>

				<br style="clear: both;" />
				<p style="margin: 20px 0px;">Please refer to the terms and conditions before you place an order. You can find the <a href="http://dev2.infiny.in/kingdomsg2018/upload/Terms_and_Conditions_of_Sale_-_KSG_LEGAL_POLICY_v2.pdf" target="_blank">terms here</a> </p>

				<div class="col-md-12">
					<div class="col-md-12">
						<a class="subscribe-submit" href="assets/upload/GC2018-Order-form-KSG-v5.xlsx"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Order Form</a>
					</div>
					<div class="clearfix">&nbsp;</div>
				</div>

				<div class="col-xs-12 set_response-form-outr3">
					<div id="set_response"  class="alert text-center"><?php echo @$this->session->userdata('event_request'); @$this->session->unset_userdata('event_request') ?></div>
					<form name="book_event_ticket" id="book_event_ticket" method="post" action="<?php echo base_url("event/ticketbook");?>"  enctype="multipart/form-data">
						<span id="user_data_box" style="">
							<div class="col-md-6">
								<div class="form-group">
									<label>Name</label>
									<input type="text" name="event_user_name" id="event_user_name" required class="form-control" placeholder="Enter Your Name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Email</label>
									<input type="text" name="event_user_email" id="event_user_email" required class="form-control" placeholder="Enter Your Email" >
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Phone</label>
									<input type="text" name="event_user_phone" id="event_user_phone" required class="form-control"  placeholder="Enter Your Phone">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Upload file</label>
									<input type="file" name="file" id="file" class="form-control" required placeholder="File">
								</div>
							</div>
							<div class="col-xs-12">
								<button type="submit" class="subscribe-submit subscribe-submit-new">Submit</button>
							</div>
						</span>
						<br style="clear: both;" />
						<div class="clearfix">&nbsp;</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<%= render 'footer'%>
