<%= render 'header'%>
<section class="banner-main event-tickets-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">EVENT TICKETS </h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">Stand alone tickets for sale to residents of authorised countries.</p>
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="assets/images/gold-cost-img.png" alt="">
	</div>
</section>


<!-- <section class="accommodation-main-outer4 event-ticket-inner3">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>EVENT TICKET</samp> <br>INFORMATION </h2>
					<div class="col-xs-12 pad_none event-ticket-main-out4">
						<p>
							Kingdom Sports Group is an authorised ticket reseller for the Gold Coast 2018 Commonwealth Games and you can secure your piece of history now. Event ticket only applications are now open.
						</p>

					</div>
			</div>
		</div>
	</div>
</section> -->

<section class="accommodation-main-outer4 event-ticket-inner3">
<img src="assets/images/ticket-info-design-img3.png" class="ticket-info-design-img3">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>EVENT TICKET</samp> <br>INFORMATION </h2>
			<div class="col col-md-3" style="padding-top:2%;">
				<div id="panel" class="">
					<div class="well" style="background-color: #fff;">
						<form class="" action="" method="post">
							<label for="session" class="pull-left">Session Code</label>
							<% if @current_user.present? %>
							<input type="text" placeholder="<%= @current_user.first_name+" "+@current_user.last_name %>" disabled="true" style="border:none; background: #f5f5f5; text-align:left;"><br>
							<%else%>
							<input type="text" placeholder="" disabled="true" style="border:none; background:transparent;"><br>
							<%end%>
							<label for="event" class="pull-left">Stars</label><br>
								<select class="custom-select form-control">
									<option value="">Choose</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select><br>
								<label for="start_date" class="pull-left">START DATE</label>
								<input type="date" name="start_date" id="start_date" class="form-control"><br>
								<label for="end_date" class="pull-left">END DATE</label><br>
								<input type="date" name="end_date" id="end_date" class="form-control"><hr>
								<button type="button" name="button" class="btn btn-warning btn-block" style="background-color:#F5BA13;box-shadow: 0 3px 0 0 #a1790c;border: 0 none;color: #000;">Apply</button>
						</form>
						</div>
				</div>
			</div>

			<div class="col col-md-9">
				<div class="row" style="background-color:white; margin-top:3%; margin-bottom:2%; margin-right:0%;">
					<div class="col col-md-12 col-xs-12 pad_none ticket2-applications-fisrt" style="display:flex;">
						<div class="col col-md-2 col-sm-2 col-xs-2 pad_none ticket2-applications-calender2" style="padding: 27px 0 !important;">
							<span><img src="/assets/images/clender-icon-img1.png" alt=""></span>
							<h4>15 May <br> <strong>2017</strong></h4>
							<img src="/assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
						</div>
						<div class="col col-md-9 col-sm-9 col-xs-9 pad_none ticket2-applications-right-purpel2">
							<div class="col col-md-12 pad_none ticket2-applications3-right-inner">
								<h5>Event Tickets lottery – Application phase opens </h5>
								<p>(Note Travel Packages including tickets and accommodation, create your own packages including tickets and accommodation, and standalone accommodation are all available for immediate purchase) </p>
							</div>
							<!-- <button type="button" class="btn btn-warning" name="button"><i class="fa fa-eye" aria-hidden="true"></i> View</button> -->
						</div>
						<div class="col col-md-1 right-yellow ">
							<i class="fa fa-cart-plus fa-3x"></i>
						</div>
						</div>

						<div class="col col-md-12 col-xs-12 pad_none ticket2-applications-fisrt" style="display:flex;">
							<div class="col col-md-2 col-sm-2 col-xs-2 pad_none ticket2-applications-calender2" style="padding: 27px 0 !important;">
								<span><img src="/assets/images/clender-icon-img1.png" alt=""></span>
								<h4>5 Jun <br> <strong>2017</strong></h4>
								<img src="/assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
							</div>
							<div class="col col-md-9  col-sm-9 col-xs-9 pad_none ticket2-applications-right-purpel2">
								<div class="col col-md-12 pad_none ticket2-applications3-right-inner">
									<h5>Event Tickets lottery – Application phase temporarily closes </h5>
									<!-- <p>(Note Travel Packages including tickets and accommodation, create your own packages including tickets and accommodation, and standalone accommodation are all available for immediate purchase) </p> -->
								</div>
								<!-- <button type="button" class="btn btn-warning" name="button"><i class="fa fa-eye" aria-hidden="true"></i> View</button> -->
							</div>
							<div class="col col-md-1 right-yellow">
								<i class="fa fa-cart-plus fa-3x"></i>
							</div>
						</div>

							<div class="col col-md-12 col-xs-12 pad_none ticket2-applications-fisrt" style="display:flex;">
								<div class="col col-md-2 col-sm-2 col-xs-2 pad_none ticket2-applications-calender2" style="padding: 27px 0 !important;">
									<span><img src="/assets/images/clender-icon-img1.png" alt=""></span>
									<h4>12 Jun <br> <strong>2017</strong></h4>
									<img src="/assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
								</div>
								<div class="col col-md-9 col-sm-9 col-xs-9 pad_none ticket2-applications-right-purpel2">
									<div class="col col-md-12 pad_none ticket2-applications3-right-inner">
										<p>Event Tickets results are complete, payment is automatically charged for successful results to all
											card holders under AU$2,500 and over AU$2,500 an invoice for payment within 7 days is issued.
										</p>
										<p>For any tickets that are <a target="_blank" href="/assets/upload/GC2018_Waitlisted_Event_Tickets_T&C_KSG_v1.pdf" style="color: white; text-decoration: underline;">waitlisted / backordered</a>, standalone event ticket clients have 7 days
											in which to accept the terms of sale and make the necessary 50% payment deposit. Please refer
											to the terms and conditions of sale for further information.
										</p>
									</div>
									<!-- <button type="button" class="btn btn-warning" name="button"><i class="fa fa-eye" aria-hidden="true"></i> View</button> -->
								</div>
								<div class="col col-md-1 right-yellow">
									<i class="fa fa-cart-plus fa-3x"></i>
								</div>
							</div>

								<div class="col col-md-12 col-xs-12 pad_none ticket2-applications-fisrt" style="display:flex;">
									<div class="col col-md-2 col-sm-2 col-xs-2 pad_none ticket2-applications-calender2" style="padding: 27px 0 !important;">
										<span><img src="/assets/images/clender-icon-img1.png" alt=""></span>
										<h4>19 Jun <br> <strong>2017</strong></h4>
										<img src="/assets/images/gree-right-arrow2.png" class="right-green-arow2"/>
									</div>
									<div class="col col-md-9 col-sm-9 col-xs-9 pad_none ticket2-applications-right-purpel2">
										<div class="col col-md-12 pad_none ticket2-applications3-right-inner">
											<h5>Event Tickets general release</h5>
										</div>
										<!-- <button type="button" class="btn btn-warning" name="button"><i class="fa fa-eye" aria-hidden="true"></i> View</button> -->
									</div>
									<div class="col col-md-1 right-yellow">
										<i class="fa fa-cart-plus fa-3x"></i>
									</div>
								</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


<style media="screen">
	/*.btn-warning{
		bottom: 5% !important;
		right: 2% !important;
		position: absolute;
		background: #f5ba13;
		box-shadow: 0 3px 0 0 #a1790c;
		color: black;
	}*/

	.btn-warning:hover {
			color: black !important;
			background-color: transparent !important;
			transition: all 2s ease 0s;
		}

	.right-yellow{
		background-color: #f5ba13;
		text-align: center;
    padding-top: 7%;
	}
</style>

<%= render 'footer'%>
