<%= render 'header'%>
<section class="banner-main look-and-brand-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">look and brand </h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">Photographer: Sharon Hickey</p>
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="assets/images/gold-cost-img.png" alt="">
	</div>
</section>


<section class="look-brand-main-outer4">

	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Peta-Joy Williams</h2>
					<div class="col-xs-12 pad_none peta-joy-main-outr2">
						<p><strong>Peta-Joy is a Wiradjuri Woman born, raised and living in Sydney. </strong> With her feet firmly in both cultures of inland and the salt water Peta Joy finds an affinity with both and finds inspiration from unique elements of the two diverse nations. </p>
						<p>Her art career started when she was quiet young. In High School the Commonwealth Bank exhibited two of her paintings in a Young Person’s art exhibition. A few years later she was commissioned t
                         o paint gifts for various people in the Eastern Suburbs community.</p>
						 <p><strong>At the age of 19 Peta-Joy was contacted by the Australian Women’s Hockey team to paint mini hockey sticks to be gifted to each team that played in the World Cup. </strong>These gifts are now displayed in various countries around Europe.</p>
						 <img src="assets/images/look-bgnw-in-content2.png" alt="" class="look-bgnw-in-content2">
						 <p><strong>PJ then went on, after High School, to complete a Cert IV in Aboriginal Art and Cultural Practices and a Diploma in Fine Arts from Eora Centre, TAFE. With this qualification, she shared her skills by doing workshops and murals around the Eastern Suburbs of Sydney.</strong> The murals are still on public display at both the UNSW and Chifley Public School. </p>
						 <p>PJ currently teaches Wiradjuri at Eora College, facilitating art workshops and mural projects. PJ is the sole operator of Wiradjuri Wave, custom Aboriginal artworks on sports paraphernalia
 and fashion. Her work has been used on everything from Christmas cards to festival posters, CD Covers, skateboards, football jerseys, supporter hats and much more. </p>

 <p><strong><strong>As an urban Koori Peta-Joy dislikes the stereotyping her art or that any Aboriginal Art should just be dot art and has created her own modern style of Aboriginal Art.</strong> Dots traditionally come from the desert and as she is not from the desert it is not her place to paint in this style. <br>
     To visit her Facebook page, click <a target="_blank" href="https://www.facebook.com/WiradjuriWave/">here</a>
     </strong></p>
					</div>
			</div>
		</div>
	</div>
</section>

<link rel="stylesheet" href="assets/css/ekko-lightbox.css">

<section class="brand-look-slider-bg2">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 pad_none accomodation0details-view-iiner">
				<div class="row">
				    <div class="col-md-12">
				        <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
				            <a href="assets/images/lookandbrand/1.JPG" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
				                <img src="assets/images/lookandbrand/1-small.jpg" class="img-fluid" style="max-width: 100%; height: auto;">
				            </a>
				            <a href="assets/images/lookandbrand/2.JPG" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
				                <img src="assets/images/lookandbrand/2-small.jpg" class="img-fluid" style="max-width: 100%; height: auto;">
				            </a>
				            <a href="assets/images/lookandbrand/3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
				                <img src="assets/images/lookandbrand/3-small.jpg" class="img-fluid" style="max-width: 100%; height: auto;">
				            </a>
				        </div>
				        <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
				            <a href="assets/images/lookandbrand/4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
				                <img src="assets/images/lookandbrand/4-small.jpg" class="img-fluid" style="max-width: 100%; height: auto;">
				            </a>
				            <a href="assets/images/lookandbrand/Blue.JPG" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
				                <img src="assets/images/lookandbrand/Blue-small.jpg" class="img-fluid" style="max-width: 100%; height: auto;">
				            </a>
				            <a href="assets/images/lookandbrand/Bronze.JPG" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
				                <img src="assets/images/lookandbrand/Bronze-small.jpg" class="img-fluid" style="max-width: 100%; height: auto;">
				            </a>
				        </div>
                        <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
				            <a href="assets/images/lookandbrand/Green.JPG" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
				                <img src="assets/images/lookandbrand/Green-small.jpg" class="img-fluid" style="max-width: 100%; height: auto;">
				            </a>
				            <a href="assets/images/lookandbrand/Purple.JPG" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
				                <img src="assets/images/lookandbrand/Purple-small.jpg" class="img-fluid" style="max-width: 100%; height: auto;">
				            </a>
				            <a href="assets/images/lookandbrand/Red.JPG" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
				                <img src="assets/images/lookandbrand/Red-small.jpg" class="img-fluid" style="max-width: 100%; height: auto;">
				            </a>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- hotels views end ------>
<script src="assets/js/jquery-1.9.1.min.js"></script>
<script src="assets/js/ekko-lightbox.js"></script>

<script>

$(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
});

jQuery(document).ready(function ($) {

				var jssor_1_SlideshowTransitions = [
				  {$Duration:1200,x:0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,x:-0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,x:-0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,x:0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,y:0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,y:-0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,y:-0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,y:0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,x:0.3,$Cols:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,x:0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,y:0.3,$Rows:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,y:0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,y:0.3,$Cols:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,y:-0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,x:0.3,$Rows:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,x:-0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$SlideOut:true,$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,$Delay:20,$Clip:3,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,$Delay:20,$Clip:3,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,$Delay:20,$Clip:12,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
				  {$Duration:1200,$Delay:20,$Clip:12,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2}
				];

				var jssor_1_options = {
				  $AutoPlay: true,
				  $SlideshowOptions: {
					$Class: $JssorSlideshowRunner$,
					$Transitions: jssor_1_SlideshowTransitions,
					$TransitionsOrder: 1
				  },
				  $ArrowNavigatorOptions: {
					$Class: $JssorArrowNavigator$
				  },
				  $ThumbnailNavigatorOptions: {
					$Class: $JssorThumbnailNavigator$,
					$Cols: 10,
					$SpacingX: 8,
					$SpacingY: 8,
					$Align: 360
				  }
				};

				var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

				//responsive code begin
				//you can remove responsive code if you don't want the slider scales while window resizes
				function ScaleSlider() {
					var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
					if (refSize) {
						refSize = Math.min(refSize, 1200);
						jssor_1_slider.$ScaleWidth(refSize);
					}
					else {
						window.setTimeout(ScaleSlider, 30);
					}
				}
				ScaleSlider();
				$(window).bind("load", ScaleSlider);
				$(window).bind("resize", ScaleSlider);
				$(window).bind("orientationchange", ScaleSlider);
				//responsive code end
			});
</script>

<%= render 'footer'%>
