<%= render 'header'%>
<section class="banner-main packages_banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner" style="width: 55%;">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Inclusive Packages</h2>
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="assets/images/gold-cost-img.png" alt="">
	</div>
</section>


<section class=" packages" style="padding-top:2px;">
  <div class="container">
     <div class="row">
			 <div class="col col-md-3" style="padding-top:2%;">
				 <div id="panel" class="">
							<div class="well">
								<form class="" action="index.html" method="post">
								 <label for="session">Session Code</label>
								 <% if @current_user.present? %>
								 <input type="text" placeholder="<%= @current_user.first_name + @current_user.last_name %>" disabled="true" style="border:none; background:transparent; margin-bottom:3%;"><br>
								 <%else%>
								 <input type="text" placeholder="" disabled="true" style="border:none; background:transparent; margin-bottom:3%;"><br>
								 <%end%>
								 <label for="event">Event</label><br>
									 <select>
										 <option value="">Choose</option>
										 <option value="rugby">Rugby</option>
										 <option value="athletics">Athletics</option>
										 <option value="opening">Opening</option>
										 <option value="swimming">Swimming</option>

									 </select><br><hr>
									 <label for="start_date">Start Date</label>
									 <input type="date" name="start_date" id="start_date"><br><hr>
									 <label for="end_date">End Date</label><br>
									 <input type="date" name="end_date" id="end_date"><hr>
									 <button type="button" name="button" class="btn btn-warning btn-block" style="background-color:#F5BA13;box-shadow: 0 3px 0 0 #a1790c;">Apply</button>
								</form>
							</div>
					</div>
			 </div>

			 <div class="col col-md-9 " style="padding-top:2%;">
				 <div class="row">


							 <div class="col col-md-10 col-sm-10 col-xs-10  pad_none ticket2-applications3-right-inner">
  							 <h5 style="margin-bottom: 10px;">Rugby – Gold Package</h5>
  							 <div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
  							 <ul>
  								 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
  									 All Rugby sessions
  								 </li>
  								 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
  									 4 Nights in hotel accommodation
  								 </li>
  								 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
  									 All Cat A Rugby tickets plus more
  								 </li>
  							 </ul>
  						 </div>
  					 </div>
  						<a href="/rugbypackages/gold"><div class="col col-md-2 col-sm-2 col-xs-2 right-yellow"><i class="fa fa-cart-plus fa-3x" style="color:black;"></i></div></a><hr>




					 <div class="col col-md-10 col-sm-10 col-xs-10 pad_none ticket2-applications3-right-inner">
						 <h5 style="margin-bottom: 10px;">Rugby – Silver Package</h5>
						 <div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
						 <ul>
							 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
								 All Rugby sessions
							 </li>
							 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
								 4 Nights
							 </li>
							 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
								 All B Rugby tickets plus more
							 </li>
							 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
								 Ability to upgrade tickets
							 </li>
						 </ul>
					 </div>
					 </div>
					 <a href="/rugbypackages/silver"><div class="col col-md-2 col-sm-2 col-xs-2 right-yellow"><i class="fa fa-cart-plus fa-3x" style="color:black;"></i></div></a> <hr>

 					 <div class="col col-md-10 col-sm-10 col-xs-10  pad_none ticket2-applications3-right-inner">
 						 <h5 style="margin-bottom: 10px;">Rugby – Bronze Package</h5>
 						 <div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
 						 <ul>
 							 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
 								 All Rugby sessions
 							 </li>
 							 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
 								 4 Nights
 							 </li>
 							 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
 								 All Cat B Rugby tickets plus more
 							 </li>
 							 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
 								 Ability to upgrade tickets
 							 </li>
 						 </ul>
 					 </div>
				 </div>
				 <a href="/rugbypackages/bronze"><div class="col col-md-2 col-sm-2 col-xs-2 right-yellow"><i class="fa fa-cart-plus fa-3x" style="color:black;"></i></div></a><hr>


				 <div class="col col-md-10 col-sm-10 col-xs-10 pad_none ticket2-applications3-right-inner">
					 <h5 style="margin-bottom: 10px;">Athletics – Platinum Package</h5>
					 <div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
					 <ul>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Athletics sessions
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 12 Nights in 5+ Palazzo Versace
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 The best program available
						 </li>
					 </ul>
				 </div>
				 </div>
				 <a href="/athleticspackages/platinum"><div class="col col-md-2 col-sm-2 col-xs-2 right-yellow"><i class="fa fa-cart-plus fa-3x" style="color:black;"></i></div></a><hr>


				 <div class="col col-md-10 col-sm-10 col-xs-10 pad_none ticket2-applications3-right-inner">
					 <h5 style="margin-bottom: 10px;">Athletics – Gold Package</h5>
					 <div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
					 <ul>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Athletics sessions
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 9,12,15 Nights in hotel accommodation
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Cat A Athletics tickets plus more
						 </li>
					 </ul>
				 </div>
				 </div>
					<a href="/athleticspackages/gold"><div class="col col-md-2 col-sm-2 col-xs-2 right-yellow"><i class="fa fa-cart-plus fa-3x" style="color:black;"></i></div></a><hr>


				 <div class="col col-md-10 col-sm-10 col-xs-10 pad_none ticket2-applications3-right-inner">
					 <h5 style="margin-bottom: 10px;">Athletics – Silver Package</h5>
					 <div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
					 <ul>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Athletics sessions
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 9,12,15 Nights
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Cat B Athletics tickets plus more
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 Ability to upgrade tickets
						 </li>
					 </ul>
				 </div>
				 </div>
				 <a href="/athleticspackages/silver"><div class="col col-md-2 col-sm-2 col-xs-2 right-yellow"><i class="fa fa-cart-plus fa-3x" style="color:black;"></i></div></a> <hr>


				 <div class=" col col-md-10 col-sm-10 col-xs-10 pad_none ticket2-applications3-right-inner">
					 <h5 style="margin-bottom: 10px;">Athletics – Silver Brisbane Package</h5>
					 <div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
					 <ul>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Athletics sessions
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 9,12,15 Nights
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Cat B Athletics tickets plus more
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 Ability to upgrade tickets
						 </li>
					 </ul>
				 </div>
				 </div>
				 <a href="/athleticspackages/silver_brisbane"><div class="col col-md-2 col-sm-2 col-xs-2 right-yellow"><i class="fa fa-cart-plus fa-3x" style="color:black;"></i></div></a><hr>


				 <div class="col col-md-10 col-sm-10 col-xs-10 pad_none ticket2-applications3-right-inner">
					 <h5 style="margin-bottom: 10px;">Athletics – Bronze Package</h5>
					 <div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
					 <ul>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Athletics sessions
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 9,12,15 Nights
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Cat C Athletics tickets plus more
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 Ability to upgrade tickets
						 </li>
					 </ul>
				 </div>
				 </div>
				 <div class="col col-md-2 col-sm-2 col-xs-2 right-yellow"><i class="fa fa-cart-plus fa-3x" style="color:black;"></i></div><hr>


				 <div class="col col-md-10 col-sm-10 col-xs-10 pad_none ticket2-applications3-right-inner">
					 <h5 style="margin-bottom: 10px;">Opening Ceremony Program – Silver</h5>
					 <div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
					 <ul>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Athletics sessions
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 9,12,15 Nights
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Cat C Athletics tickets plus more
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 Ability to upgrade tickets
						 </li>
					 </ul>
				 </div>
				 </div>
				<a href="/openingpackages/details"><div class="col col-md-2 col-sm-2 col-xs-2 right-yellow"><i class="fa fa-cart-plus fa-3x" style="color:black;"></i></div></a> <hr>


				 <div class="col col-md-10 col-sm-10 col-xs-10 pad_none ticket2-applications3-right-inner">
					 <h5 style="margin-bottom: 10px;">Swimming Supporter Program - Silver</h5>
					 <div class="col-xs-12 col-md-12 col-sm-12 pad_none officaly-ticketing-agancy-left2">
					 <ul>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Athletics sessions
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 9,12,15 Nights
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 All Cat C Athletics tickets plus more
						 </li>
						 <li style="color: white; line-height: 22px; font-size: 14px; margin-bottom: 0px;">
							 Ability to upgrade tickets
						 </li>
					 </ul>
				 </div>
				 </div>
				 <a href="/swimmingpackages/details"><div class="col col-md-2 col-sm-2 col-xs-2 right-yellow"><i class="fa fa-cart-plus fa-3x" style="color:black;"></i></div></a> <hr>





		 </div>
					 <!-- <div class="col col-md-2 col-sm-2 col-xs-2">
					 	<i class="fa fa-eye"></i>
					 </div> -->



					 </div>


				 </div>
			 </div>




   </div>
  </div>
</section>

<style media="screen">
	.ticket2-applications3-right-inner{
		background-image: url("/assets/images/ticket-clender-purpel-bg1.png");
	 	padding: 10px 10px 10px 50px !important;
		float: left !important;
		margin-bottom: 1%;
	}
	/*rgba(0, 0, 0, 0) url("../images/ticket-clender-purpel-bg1.png") no-repeat center top*/
	.right-yellow{
		background-color: #f5ba13;
		text-align: center;
    padding-top: 7%;
		margin-bottom: 1%;
	}
</style>
<%= render 'footer'%>
