<%= render 'header'%>
<section class="banner-main Privacy-policy-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Privacy Policy </h2>
				<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src=">assets/images/gold-cost-img.png" alt="">
	</div>
</section>

<section class="privacy-policy-main-outer4">

	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Privacy Policy</h2>



	<div class="col-xs-12 pad_none privacy-policy3-inner-bottom ">

	<h4>GOLD COAST 2018 COMMONWEALTH GAMES TICKETING TERMS AND CONDITIONS</h4>

	<ol>
		<li>Residents of the territories authorised by the Gold Coast 2018 Organising Committee (GoldOC) are able to purchase tickets for use by those persons during the events only through Kingdom Sports Group's (KSG's) website. All purchasers will be required to prove residency in those authorised territories in order to buy and receive tickets. Purchasers must not resell (or otherwise deal with) any tickets for profit or gain or sell to or deal with any unauthorised person or entity including but not limited to scalpers, touts or black market resellers. Where such tickets are suspected to have been sold, used or otherwise dealt with in breach of GoldOC's rules and regulations and terms and conditions of ticket use, such tickets may be cancelled immediately without notice to the purchaser and the purchaser shall have no claim at either law or in equity against any of KSG, GoldOC, the Commonwealth Games Federation ("CGF"), or their respective servants or agents in respect of any loss or damage whatsoever whensoever arising out of or incidental to such cancellation.</li>

		<li> All tickets are offered and sold expressly on the basis that the purchaser has firstly read and agrees to strictly abide and be bound by both KSG's and GoldOC's respective Terms and Conditions of Sale and use of each ticket and by proceeding to purchase a ticket or tickets from KSG the purchaser irrevocably acknowledges and agrees that the purchaser has so read and unconditionally accepts and shall be fully and legally bound by all such terms. </li>

		<li> Travel Agents, wholesalers, distributors, sub-agents or any other third party agencies are permitted to submit ticket orders on behalf of individuals or groups within KSG's authorised territories under the following strict guidelines. I. The end user is reported to KSG by the travel agent including their name, address, phone and email II. The travel agent only charges the actual price to their clients, that is for clarity the same price that KSG charges the travel agent III. The full amount invoiced by KSG is paid by the travel agent into the account nominated by KSG IV. An exchange rate that is used to convert to a local currency by the Travel Agent is in line with the rate of the day available at the following website <a href="https://www.westpac.com.au/personal-banking/services/currency-converter/"> https://www.westpac.com.au/personal-banking/services/currency-converter/ </a>V. The Travel Agents commission is paid by KSG to the Travel Agent at the completion of the tour, within 14 days from the closure of the Games, upon receipt of an invoice by KSG which is agreed to by KSG VI. Ticket only orders are not accepted by KSG that have been submitted by any Agent, only packages that include accommodation and tickets. </li>

		<li>	KSG reserves the right to cancel, in its sole and absolute discretion, any such ticket orders at any time where KSG believes such ticket orders do not strictly comply with GoldOC's ticketing rules and  regulations. KSG will NOT sell to unauthorised residents or non-residents under any circumstances. </li>

		<li>When event tickets are conducted via a lottery or a ballot system, KSG rules and regulations in regards to the lottery and ballot system take precedence over any public information or timeline issued by GoldOC as our system and terms are different to their offer. When a client places an order for individual tickets and / or packages and are able to provide a valid payment method, the sale cannot be cancelled unless authorised by a KSG representative as all requests are final. Individual Tickets are sold from an available inventory on a first-come, first-served basis when there is immediate confirmation and payment processing.</li>

		<li>GoldOC impose quantity restrictions for individual session tickets. Such limitations will be specified when the ticket sales go live on-line. There will also be a limitation on the number of tickets that can be purchased per individual person as advised on the KSG website.</li>

		<li>All ticket purchases are strictly subject to the ticket's pricing information and ticket availability and the Terms and Conditions relating to such tickets as set out fully on KSG's website.</li>

		<li>The specified Price Category means the assigned ticket price corresponding to a designated seating section for a particular session of a sporting event at a specific Venue. The prices vary from session to session and from Venue to Venue. Category AA (where available) or Category A represents the best seats in a Venue and therefore has the highest price, Category B the second best seats and second highest price, and so forth in descending order alphabetically. KSG makes no express or implied warranty or representation as to the quality or location of seating, views, event proximity or aspect in or at any venue.</li>

		<li>When choosing Events, you should make sure there is no overlap in time, and allow at least two to three (2-3) hours between Events on the same day. Event Venues are geographically spread throughout the cities, so when booking tickets the purchaser is solely responsible for ensuring that the purchaser and the purchaser's party have allowed adequate travel time between Venues and have allowed for any other unforeseen delays.</li>

		<li>Invoices will be raised in Australian Dollars and/or US Dollars as KSG deems applicable. All exchange rates shall be in accordance with the relevant policies of GoldOC. Payments must be made via direct deposit into KSG's nominated bank account free of any discount commissions or charges which the purchaser must bear the cost of, in addition to KSG's invoiced amount. For payments by credit card, there shall be a credit card processing fee of 2.5% on all charges in addition to the invoiced amount. VISA is our preferred credit card. Please note that your credit card will be charged upon confirmation by KSG of your order, and not at a later time. If the credit card entered is not valid or is declined, your ticket order will immediately be cancelled without notice of any kind, and you have no claim against KSG by reason of such cancellation.</li>

		<li>All tickets will be shipped or made available for collection for an extra fee per ticket order, which fee is payable in addition to the cost of the tickets. Shipments will only be sent to the successful ticket purchasers after ticket collection by KSG from GoldOC . Please ensure that you give full and correct address details with correct numbers and spelling as KSG will not be liable for any non-delivery arising out of any misdescribed or false name and/or address for delivery of tickets. P.O. Boxes are NOT acceptable. The address provided must be a real street address where a person over the age of 18 years is present to accept and sign for delivery.</li>
		<li>Seating requests between separate Orders cannot be processed. Seat locations will not be known in advance of actual allocation of Tickets by GoldOC, and KSG makes no warranty or representation as to actual seat numbers to be allocated or seating locations within the event venue.</li>
		<li>A Ticket Purchase Confirmation will be sent to you via e-mail upon processing of your order. This will confirm the Tickets purchased and the total price of those tickets inclusive of shipping.</li>
		<li>  Once a Ticket Confirmation is issued, the ticket order is final and is non-cancellable and non-refundable, and remains strictly subject to the Terms and Conditions of sale and use. Purchasers are strongly advised to ensure that they have and at all times maintain full and comprehensive travel insurance in respect of all aspects of their proposed travel to the Games including in respect of lost or stolen or damaged tickets, which cannot be replaced at any time.</li>

		<li>All communication regarding the account will be emailed to the purchaser only. The Purchaser is responsible for keeping KSG fully informed of any changes to the billing, contact, and shipment details provided.</li>



	</ol>

	<h4>SPORTS PACKAGE AND HOTEL TERMS AND CONDITIONS</h4>

	<ol>
		<li>All prices are Australian Dollars (unless otherwise specified) and are subject to change without prior notice.</li>
		<li>Price does not include a visa, items of personal nature, and gratuities to drivers/guides/restaurants. All care has been taken to ensure that prices are correct at time of advertising, however if due to circumstances beyond our control there should be changes in airfares, taxes, fuel levies exchange rates, we reserve the right to pass them on unless holiday has been paid in full. Once full payment is received any changes will attract an administration fee of AU$150 in addition to hotel or land operator fees. Amounts paid by credit card will incur a 2.5% service fee surcharge.</li>
		<li><strong>PAYMENT BY CREDIT OR CHARGE CARD: </strong> The prices advertised are for payments by cash via direct deposit. An additional 2.5% credit card service fee will be applied to the dollar amount paid by credit or charge card when payment is made via VISA, MasterCard, or AMEX. Prices will be converted into Australian Dollars based upon the publicised rate of the day which can be estimated at <a href="https://www.westpac.com.au/business-banking/services/foreign-exchange-rates/">https://www.westpac.com.au/business-banking/services/foreign-exchange-rates/</a></li>
		<li><strong>CHANGES IN PRICES AND ITINERARIES: </strong>Please check all prices and information with your travel consultant before booking. Please note that the price of your holiday may change at any time up to 30 days before your departure if any new taxes or charges introduced or if any existing taxes or charges are varied even after you have paid all or part of the quoted price of your booking. If we have to change any part of your booking for reasons beyond our control, for example, if an airline changes its schedules, if an hotelier overbooks hotel accommodation or if there are any changes in applicable taxes or charges, we will notify you.</li>
		<li><strong>DEPOSITS AND FINAL PAYMENTS: </strong> A non-refundable deposit of 50% of the total price per person is payable within 7 days of confirmation of your reservation. You will be notified at the time of reservation if any additional deposit requirements apply. Full payment for your holiday package is required by Monday 3rd July 2017, or by sale end of date or payment deadline specified in individual package conditions, whichever is the earliest. If for any reason we do not receive your balance by the due date, we reserve the right to treat your booking as cancelled and to apply the appropriate cancellation charges. A deposit holds the services requested, but does not guarantee prices. Your deposit constitutes acceptance of these conditions.</li>
		<li><strong>CANCELLATIONS: </strong> If you cancel or terminate your holiday there will be no refund of your deposit. Prior to final payment: there will be no refund of additional supplier deposit paid. After final payment: There may be cancellation fees charged by airlines, hotels, and ground /cruise operators amounting to all or part of the cost paid.</li>
		<li><strong>CHANGES: </strong> Changes to your package, which require re-issue of documents, will incur an administration fee of AU$150.00 per booking in addition to any charges levied by hotels, ground/cruise operators or airlines. A document re-issue means an alteration to an existing booking and not a transfer to another package, when cancellation fees may apply.
</li>
		<li><strong> REFUNDS: </strong> No refund is available for cancellations after holiday package has commenced or in respect of any tours, accommodation, meals or any other services not utilised.</li>
		<li>
	<strong>VISA/PASSPORT </strong> with an expiry date no less than 6 months from commencement of travel is necessary. Visas, travel and other insurance and vaccinations are the responsibility of the client. Pleas ensure that you are eligible for a visa to travel to Australia, prior to booking. The failure to obtain a visa or hold a valid passport does not entitle you to a refund.</li>
		<li><strong>VARIATIONS</strong> may be necessary due to unforeseen circumstances beyond our control; in those circumstances we reserve the right to vary/omit/substitute any hotels or flights of an equivalent standard as may be necessary. </li>
		<li><strong>TRAVEL INSURANCE </strong> is recommended at time of booking. We recommend travel insurance against loss of deposits through cancellation charges, baggage loss, medical expenses and theft. ALL TRAVEL DOCUMENTS ARE NON-TRANSFERABLE Kingdom Sports Tours Pty Ltd ACN 137 073 986 an affiliate of Kingdom Sports Group ACN 128 201 294. Travel Agents License Number NSW2TA06896</li>

	</ol>





	</div>
			</div>
		</div>
	</div>

</section>
<%= render 'footer'%>
