<%= render 'header'%>
<section class="banner-main gold_coast_banner">

	<div class="container">

		<div class="row">

			<div class=" pad_none banner-inner">

				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Sports</h2>



				<!--

				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->

			</div>

		</div>

	</div>

	<div class="gold-cost-right" >

		<img src="assets/images/gold-cost-img.png" alt="">

	</div>

</section>


<section class="gold_sports_tabs_outer">

  <div class="container">

     <div class="row">

       <div class="col-xs-12 col-md-12 col-xs-12 gold_sports_tabs_inner">

         <div class="tabs_gold_outer">

            <ul class="nav nav-tabs">

            <li class="active"><a data-toggle="tab" href="#tab01">SPORTS</a></li>

            <li><a data-toggle="tab" href="#tab02">MAP & VENUES</a></li>

            </ul>

         </div>







   <div class="col-xs-12 col-md-12 col-xs-12 pad_none gold_tab_one_outer tab-content">

    <div id="tab01" class="tab-pane fade in active">

        <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGAthletics.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Athletics</span>

                </div>

              </div>

         </div>

      </div>



      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGBadminton.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Badminton</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGBasketball.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Basketball</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGBeachVolleyball.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Beach Volleyball</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGBoxing.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Boxing</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGCycling.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Mountain Bike, Track and Road</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGDiving.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Diving</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGGymnastics.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Gymnastics (Artistic & Rythmic)</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGFieldHockey.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Hockey</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGLawnBowl.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Lawn Bowls</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGNetball.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Netball</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGWeights.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Para Powerlifting</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGRugby.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Rugby Sevens</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGShooting.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Shooting</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGSquash.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Squash</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGSwimming.png" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Swimming</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGTableTennis.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Table Tennis</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGTriathlon.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Triathlon</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGWeights.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Weightlifting</span>

                </div>

              </div>

         </div>

      </div>

      <div class="gold_tab_one_inner_out">

         <div class="gold_tab_one_inner">

           <img src="assets/images/games/KSGWrestlingFreestyle.jpg" alt="">

              <div class="gold_tab_one_inner_hover">

                <div class="hover_gold_text">

                   <img src="assets/images/gold-hover.png" alt="">

                    <span>Wrestling</span>

                </div>

              </div>

         </div>

      </div>

      <div class="col-xs-12 pad_none complete_text">

       <p>For complete Commonwealth Games sporting information </p>

      <a target="_blank" href="https://www.gc2018.com/the-sport" target="_blank">CLICK HERE</a>

      </div>

      </div>



      <div id="tab02" class="tab-pane fade">

       <div class="col-xs-12 pad_none sports-venues2-outer-main">

		<p>The Gold Coast Commonwealth Games is making use of a great mix of well-established sporting venues, the glorious coastline areas and new precincts for the 21st Commonwealth Games. With over 16 individual venues these Games really do showcase the area at its best. </p>
		<p>For comprehensive venue information please see the site at <span><a href="https://www.gc2018.com/sports/venues" target="_blank"> GOLDOC</a> </span></p>

		</div>

		<div class="col-xs-12 pad_none sports-map-tab2-out" style="margin-top: 40px;">

			<a href="https://www.google.co.in/maps/place/1763+Old+Cleveland+Rd,+Chandler+QLD+4155,+Australia/@-27.5117377,153.1494053,17z/data=!3m1!4b1!4m5!3m4!1s0x6b915c35f53fe8e1:0x5232ee6b37f79aeb!8m2!3d-27.5117377!4d153.151594" target="_blank">

			<img src="assets/images/sports-map-img2.jpg" alt="" > </a>

		</div>

      </div>


    </div>

   </div>

   </div>

  </div>

</section>


<%= render 'footer'%>
