<%= render 'layouts/header'%>
<section class="banner-main accomodation-banner" style="background: rgba(0, 0, 0, 0) url('/assets/images/rooms.jpg') no-repeat scroll center top / cover;">
  <div class="container">
  </div>
  <div class="gold-cost-right" >
    <img src="/assets/images/gold-cost-img.png" alt="">
  </div>
</section>
<section class="accommodation-main-outer4">
  <div class="exclusive-reprensentatio-inner accommodation-main-inner4" >
    <h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Thank You!</h2>
    <p class="lead"><strong>Please check your email for you cart details</strong> </p><hr>
    <div class="" style="display:inline-flex;">


    <p class="lead">
      <a class="subscribe-submit" href="/event/index/" role="button" style="width: auto;">Continue Shopping</a>
    </p>
    <p class="lead">
      <a class="subscribe-submit" href="/" role="button">Homepage</a>
    </p>
    </div>
  </div>
</section>
<%= render 'layouts/footer'%>
