<%= render 'header'%>

<!---- Banner Start ----->
<section class="banner-main tour-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Tours</h2>
				<!-- <p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> -->
				<!--
				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="/assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="/assets/images/gold-cost-img.png" alt="">
	</div>
</section>
<!---- Banner END ------>



<!----- Accommodation start ------->
<section class="tour-main-outer4" style="padding-bottom: 40px !important;">
<img src="/assets/images/tour2-design-bgnw.png" class="tour2-design-bgnw" alt="">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Tours</h2>

				<!-- Slider Add -->
				<div class="col-md-12 col-xs-12 pad_none tour-main-inner-part2">

					<div id="tabs-container">
					<ul class="tabs-menu tour-tabs2">
						<li class="current col-md-2">
							<a href="#tab-1">
								<img src="/assets/images/gold-coast/main.jpg" alt="" class="glorious-gold-coast-img1">
								<div class="glorious-gold-coast-heading" style="font-size: 13px; width: 85%;">
									Glorious Gold <br> Coast
								</div>

								<div class="glorious-gold-coast-hover">
									<img src="/assets/images/tour-tabs-img-hover2.png" alt="" class="glorious-gold-coast-img1">
									<h3>Glorious Gold <br> Coast</h3>
								</div>
							</a>
						</li>

						<li class="col-md-2">
							<a href="#tab-2">
								<img src="/assets/images/cairns/main.jpg" alt="" class="glorious-gold-coast-img1">
								<div class="glorious-gold-coast-heading" style="font-size: 13px; width: 85%;">
									Colourful <br>
									Cairns
								</div>

								<div class="glorious-gold-coast-hover">
									<img src="/assets/images/tour-tabs-img-hover2.png" alt="" class="glorious-gold-coast-img1">
									<h3>Colourful <br> Cairns</h3>
								</div>
							</a>
						</li>

						<li class="col-md-2">
							<a href="#tab-3">
								<img src="/assets/images/melbourne/main.jpg" alt="" class="glorious-gold-coast-img1">
								<div class="glorious-gold-coast-heading" style="font-size: 13px; width: 85%;">
									Magnificent <br> Melbourne
								</div>

								<div class="glorious-gold-coast-hover">
									<img src="/assets/images/tour-tabs-img-hover2.png" alt="" class="glorious-gold-coast-img1">
									<h3>Magnificent <br> Melbourne</h3>
								</div>
							</a>
						</li>

						<li class="col-md-2">
							<a href="#tab-4">
								<img src="/assets/images/sydney/main.jpg" alt="" class="glorious-gold-coast-img1">
								<div class="glorious-gold-coast-heading" style="font-size: 13px; width: 85%;">
									Spectacular <br> Sydney
								</div>

								<div class="glorious-gold-coast-hover">
									<img src="/assets/images/tour-tabs-img-hover2.png" alt="" class="glorious-gold-coast-img1">
									<h3>Spectacular <br> Sydney </h3>
								</div>
							</a>
						</li>

						<li class="col-md-2">
							<a href="#tab-5">
								<img src="/assets/images/uluru/main.jpg" alt="" class="glorious-gold-coast-img1">
								<div class="glorious-gold-coast-heading" style="font-size: 13px; width: 85%;">
									Unbelievable <br>
									Uluru
								</div>

								<div class="glorious-gold-coast-hover">
									<img src="/assets/images/tour-tabs-img-hover2.png" alt="" class="glorious-gold-coast-img1">
									<h3>Unbelievable <br> Uluru</h3>
								</div>
							</a>
						</li>

						<li class="col-md-2">
							<a href="#tab-6">
								<img src="/assets/images/hobbiton/main.jpg" alt="" class="glorious-gold-coast-img1">
								<div class="glorious-gold-coast-heading" style="font-size: 13px; width: 85%;">
									Hairy Hobbiton in <br>
									New Zealand
								</div>

								<div class="glorious-gold-coast-hover">
									<img src="/assets/images/tour-tabs-img-hover2.png" alt="" class="glorious-gold-coast-img1">
									<h3>Hairy Hobbiton in <br> New Zealand</h3>
								</div>
							</a>
						</li>

						<!-- <li><a href="#tab-2">Tab 2</a></li>
						<li><a href="#tab-3">Tab 3</a></li>
						<li><a href="#tab-4">Tab 4</a></li> -->
					</ul>

				<div class="tab">
					<div id="tab-1" class="tab-content">
						<div class="col-xs12 pad_none hotel-images-outer" >
							<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1200px ; height: 550px; overflow: hidden; visibility: hidden; background-color: #24262e;">
								<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
									<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
									<div style="position:absolute;display:block;background:url('/assets/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
								</div>
								<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1200px; height: 550px; overflow: hidden;">
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/gold-coast/1.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/gold-coast/2.png"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/gold-coast/3.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/gold-coast/4.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/gold-coast/5.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/gold-coast/6.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/gold-coast/7.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/gold-coast/8.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/gold-coast/9.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/gold-coast/10.jpg"  alt="" />
									</div>
								</div>

								<span data-u="arrowleft" class="jssora05l" style="top:250px;left:8px;width:40px;height:40px;">
									<i class="fa fa-angle-left fa-angle-left2 " aria-hidden="true"></i>
								</span>
								<span data-u="arrowright" class="jssora05r" style="top:250px;right:8px;width:40px;height:40px;">
									<i class="fa fa-angle-right angle-right2" aria-hidden="true"></i>
								</span>
								<a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
							</div>
						</div>
					</div>

					<div id="tab-2" class="tab-content">
						<div class="col-xs12 pad_none hotel-images-outer" >
							<div id="jssor_2" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1200px ; height: 550px; overflow: hidden; visibility: hidden; background-color: #24262e;">
								<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
									<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
									<div style="position:absolute;display:block;background:url('/assets/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
								</div>
								<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1200px; height: 550px; overflow: hidden;">
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/cairns/1.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/cairns/2.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/cairns/3.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/cairns/4.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/cairns/5.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/cairns/6.jpg" alt="" />
									</div>
								</div>
								<span data-u="arrowleft" class="jssora05l" style="top:250px;left:8px;width:40px;height:40px;">
									<i class="fa fa-angle-left fa-angle-left2 " aria-hidden="true"></i>
								</span>
								<span data-u="arrowright" class="jssora05r" style="top:250px;right:8px;width:40px;height:40px;">
									<i class="fa fa-angle-right angle-right2" aria-hidden="true"></i>
								</span>
								<a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
							</div>
						</div>
					</div>

					<div id="tab-3" class="tab-content">
						<div class="col-xs12 pad_none hotel-images-outer" >
							<div id="jssor_3" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1200px ; height: 550px; overflow: hidden; visibility: hidden; background-color: #24262e;">
								<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
									<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
									<div style="position:absolute;display:block;background:url('/assets/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
								</div>
								<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1200px; height: 550px; overflow: hidden;">
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/melbourne/1.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/melbourne/2.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/melbourne/3.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/melbourne/4.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/melbourne/5.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/melbourne/6.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/melbourne/7.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/melbourne/8.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/melbourne/9.jpg" alt="" />
									</div>
								</div>
								<span data-u="arrowleft" class="jssora05l" style="top:250px;left:8px;width:40px;height:40px;">
									<i class="fa fa-angle-left fa-angle-left2 " aria-hidden="true"></i>
								</span>
								<span data-u="arrowright" class="jssora05r" style="top:250px;right:8px;width:40px;height:40px;">
									<i class="fa fa-angle-right angle-right2" aria-hidden="true"></i>
								</span>
								<a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
							</div>
						</div>
					</div>

					<div id="tab-4" class="tab-content">
						<div class="col-xs12 pad_none hotel-images-outer" >
							<div id="jssor_4" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1200px ; height: 550px; overflow: hidden; visibility: hidden; background-color: #24262e;">
								<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
									<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
									<div style="position:absolute;display:block;background:url('/assets/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
								</div>
								<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1200px; height: 550px; overflow: hidden;">
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/sydney/1.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/sydney/2.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/sydney/3.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/sydney/4.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/sydney/5.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/sydney/6.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/sydney/7.jpg"  alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/sydney/8.jpg" alt="" />
									</div>
									<div data-p="144.50" style="display: none;">
										<img data-u="image" src="/assets/images/sydney/9.jpg" alt="" />
									</div>
								</div>
								<span data-u="arrowleft" class="jssora05l" style="top:250px;left:8px;width:40px;height:40px;">
									<i class="fa fa-angle-left fa-angle-left2 " aria-hidden="true"></i>
								</span>
								<span data-u="arrowright" class="jssora05r" style="top:250px;right:8px;width:40px;height:40px;">
									<i class="fa fa-angle-right angle-right2" aria-hidden="true"></i>
								</span>
								<a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
							</div>
						</div>
					</div>
					<div id="tab-5" class="tab-content">
						<div class="col-xs12 pad_none hotel-images-outer" >
							<div id="jssor_5" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1200px ; height: 550px; overflow: hidden; visibility: hidden; background-color: #24262e;">
							<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
								<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
								<div style="position:absolute;display:block;background:url('/assets/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
							</div>
							<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1200px; height: 550px; overflow: hidden;">
								<div data-p="144.50" style="display: none;">
									<img data-u="image" src="/assets/images/uluru/1.jpg"  alt="" />
								</div>
								<div data-p="144.50" style="display: none;">
									<img data-u="image" src="/assets/images/uluru/2.jpg" alt="" />
								</div>
								<div data-p="144.50" style="display: none;">
									<img data-u="image" src="/assets/images/uluru/3.jpg" alt="" />
								</div>
								<div data-p="144.50" style="display: none;">
									<img data-u="image" src="/assets/images/uluru/4.jpg" alt="" />
								</div>
							</div>
							<span data-u="arrowleft" class="jssora05l" style="top:250px;left:8px;width:40px;height:40px;">
								<i class="fa fa-angle-left fa-angle-left2 " aria-hidden="true"></i>
							</span>
							<span data-u="arrowright" class="jssora05r" style="top:250px;right:8px;width:40px;height:40px;">
								<i class="fa fa-angle-right angle-right2" aria-hidden="true"></i>
							</span>
							<a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
							</div>
						</div>
					</div>
					<div id="tab-6" class="tab-content">
						<div class="col-xs12 pad_none hotel-images-outer" >
							<div id="jssor_6" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1200px ; height: 550px; overflow: hidden; visibility: hidden; background-color: #24262e;">
							<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
								<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
								<div style="position:absolute;display:block;background:url('/assets/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
							</div>
							<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1200px; height: 550px; overflow: hidden;">
								<div data-p="144.50" style="display: none;">
									<img data-u="image" src="/assets/images/hobbiton/1.jpg"  alt="" />
								</div>
								<div data-p="144.50" style="display: none;">
									<img data-u="image" src="/assets/images/hobbiton/2.jpg" alt="" />
								</div>
								<div data-p="144.50" stymelle="display: none;">
									<img data-u="image" src="/assets/images/hobbiton/3.jpg" alt="" />
								</div>
							</div>
							<span data-u="arrowleft" class="jssora05l" style="top:250px;left:8px;width:40px;height:40px;">
								<i class="fa fa-angle-left fa-angle-left2 " aria-hidden="true"></i>
							</span>
							<span data-u="arrowright" class="jssora05r" style="top:250px;right:8px;width:40px;height:40px;">
								<i class="fa fa-angle-right angle-right2" aria-hidden="true"></i>
							</span>
							<a href="http://www.jssor.com" style="display:none">Jssor Slider</a>
							</div>
						</div>
					</div>
				</div>
	</div>

	<br style="clear: both;" />

	<div class="row" style="margin-top: 40px;">
		<div class="col-md-12" style="border-bottom: 1px solid #e4e4e4; border-top: 1px solid #e4e4e4;">
			<div class="col-md-6 who-we-are-main-inner2" style="margin-top: 5px;"><p style="text-align: left; margin: 10px 0px;">Glorious Gold Coast</p></div>
			<div class="col-md-6" style="text-align: right;">
				<a class="subscribe-submit" href="/assets/images/gold-coast/file.pdf" target="_blank" style="padding: 10px 15px !important; width: auto !important; margin: 9px 0px 10px 0px !important; font-size: 14px;">
					<i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download File
				</a>
			</div>
		</div>
		<div class="col-md-12" style="border-bottom: 1px solid #e4e4e4;">
			<div class="col-md-6 who-we-are-main-inner2" style="margin-top: 5px;"><p style="text-align: left; margin: 10px 0px;">Colourful Cairns</p></div>
			<div class="col-md-6" style="text-align: right;">
				<a class="subscribe-submit" href="/assets/images/cairns/file.pdf" target="_blank" style="padding: 10px 15px !important; width: auto !important; margin: 9px 0px 10px 0px !important; font-size: 14px;">
					<i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download File
				</a>
			</div>
		</div>
		<div class="col-md-12" style="border-bottom: 1px solid #e4e4e4;">
			<div class="col-md-6 who-we-are-main-inner2" style="margin-top: 5px;"><p style="text-align: left; margin: 10px 0px;">Marvelous Melbourne</p></div>
			<div class="col-md-6" style="text-align: right;">
				<a class="subscribe-submit" href="/assets/images/melbourne/file.pdf" target="_blank" style="padding: 10px 15px !important; width: auto !important; margin: 9px 0px 10px 0px !important; font-size: 14px;">
					<i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download File
				</a>
			</div>
		</div>
		<div class="col-md-12" style="border-bottom: 1px solid #e4e4e4;">
			<div class="col-md-6 who-we-are-main-inner2" style="margin-top: 5px;"><p style="text-align: left; margin: 10px 0px;">Spectacular Sydney</p></div>
			<div class="col-md-6" style="text-align: right;">
				<a class="subscribe-submit" href="/assets/images/sydney/file.pdf" target="_blank" style="padding: 10px 15px !important; width: auto !important; margin: 9px 0px 10px 0px !important; font-size: 14px;">
					<i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download File
				</a>
			</div>
		</div>
		<div class="col-md-12" style="border-bottom: 1px solid #e4e4e4;">
			<div class="col-md-6 who-we-are-main-inner2" style="margin-top: 5px;"><p style="text-align: left; margin: 10px 0px;">Unbelievable Uluru</p></div>
			<div class="col-md-6" style="text-align: right;">
				<a class="subscribe-submit" href="/assets/images/uluru/file.pdf" target="_blank" style="padding: 10px 15px !important; width: auto !important; margin: 9px 0px 10px 0px !important; font-size: 14px;">
					<i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download File
				</a>
			</div>
		</div>
		<div class="col-md-12" style="border-bottom: 1px solid #e4e4e4;">
			<div class="col-md-6 who-we-are-main-inner2" style="margin-top: 5px;"><p style="text-align: left; margin: 10px 0px;">Hairy Hobbiton in New Zealand</p></div>
			<div class="col-md-6" style="text-align: right;">
				<a class="subscribe-submit" href="/assets/images/hobbiton/file.pdf" target="_blank" style="padding: 10px 15px !important; width: auto !important; margin: 9px 0px 10px 0px !important; font-size: 14px;">
					<i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;Download File
				</a>
			</div>
		</div>
	</div>

	<div class="col-xs-12 pad_none condition-of-sale-main-inner set_response-form-outr3-main">
		<div class="col-xs-12 set_response-form-outr3">
			<div id="set_response"  class="alert text-center"></div>
			<form name="book_event_ticket" id="book_event_ticket" method="post" action="" enctype="multipart/form-data">
				<span id="user_data_box" style="">
					<div class="col-md-6">
						<div class="form-group">
							<label>Name</label>
							<input type="text" name="event_user_name" id="event_user_name" required class="form-control" placeholder="Enter Your Name">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Email</label>
							<input type="text" name="event_user_email" id="event_user_email" required class="form-control" placeholder="Enter Your Email" >
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Phone</label>
							<input type="text" name="event_user_phone" id="event_user_phone" required class="form-control"  placeholder="Enter Your Phone">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Comments</label>
							<textarea name="comments" class="form-control"  required placeholder="Enter Your Requirements"></textarea>
						</div>
					</div>
					<div class="col-xs-12">
						<button type="submit" class="subscribe-submit subscribe-submit-new">Submit</button>
					</div>
				</span>
				<br style="clear: both;" />
				<div class="clearfix">&nbsp;</div>
			</form>
		</div>
	</div>

</section>


<!---- Accommodation end ------>
<script src="/assets/js/jquery-1.9.1.min.js"></script>

<script src="/assets/js/jssor.slider.mini.js"></script>
<script>


jQuery(document).ready(function ($) {

	var jssor_1_SlideshowTransitions = [
		  {$Duration:1200,x:0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,x:-0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,x:-0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,x:0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,y:0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,y:-0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,y:-0.3,$During:{$Top:[0.3,0.7]},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,y:0.3,$SlideOut:true,$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,x:0.3,$Cols:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,x:0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,y:0.3,$Rows:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,y:0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,y:0.3,$Cols:2,$During:{$Top:[0.3,0.7]},$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,y:-0.3,$Cols:2,$SlideOut:true,$ChessMode:{$Column:12},$Easing:{$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,x:0.3,$Rows:2,$During:{$Left:[0.3,0.7]},$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,x:-0.3,$Rows:2,$SlideOut:true,$ChessMode:{$Row:3},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,x:0.3,y:0.3,$Cols:2,$Rows:2,$During:{$Left:[0.3,0.7],$Top:[0.3,0.7]},$SlideOut:true,$ChessMode:{$Column:3,$Row:12},$Easing:{$Left:$Jease$.$InCubic,$Top:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,$Delay:20,$Clip:3,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,$Delay:20,$Clip:3,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,$Delay:20,$Clip:12,$Assembly:260,$Easing:{$Clip:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
		  {$Duration:1200,$Delay:20,$Clip:12,$SlideOut:true,$Assembly:260,$Easing:{$Clip:$Jease$.$OutCubic,$Opacity:$Jease$.$Linear},$Opacity:2}
		];

		var jssor_1_options = {
		  $AutoPlay: true,
		  $SlideshowOptions: {
			$Class: $JssorSlideshowRunner$,
			$Transitions: jssor_1_SlideshowTransitions,
			$TransitionsOrder: 1
		  },
		  $ArrowNavigatorOptions: {
			$Class: $JssorArrowNavigator$
		  },
		  $ThumbnailNavigatorOptions: {
			$Class: $JssorThumbnailNavigator$,
			$Cols: 10,
			$SpacingX: 8,
			$SpacingY: 8,
			$Align: 360
		  }
		};
	var jssor_1_slider = [];
	for(var i = 1; i <= 6; i++){

		jssor_1_slider[i-1] = new $JssorSlider$("jssor_"+i, jssor_1_options);

	}

	function ScaleSlider(i) {
		var refSize = jssor_1_slider[i].$Elmt.parentNode.clientWidth;
		if (refSize) {
			refSize = Math.min(refSize, 1200);
			jssor_1_slider[i].$ScaleWidth(refSize);
		}
		else {
			window.setTimeout(function(){ScaleSlider(i)}, 30);
		}
	}

	function ScaleSliderLoop(){
		for(var i = 0; i < 6; i++){

			ScaleSlider(i);

		}
	}
	ScaleSliderLoop();
	$(window).bind("load", ScaleSliderLoop);
	$(window).bind("resize", ScaleSliderLoop);
	$(window).bind("orientationchange", ScaleSliderLoop);
	//responsive code end
});
</script>
<%= render 'footer'%>
