<%= render 'header'%>

<section class="banner-main who-we-are-banner">
	<div class="container">
		<div class="row">
			<div class=" pad_none banner-inner">
				<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">who we are</h2>
				<!--<p class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

				<a href="#" class="read-more-banner fadeInUp wow" data-wow-duration="2s" data-wow-delay="0.3s">READ MORE <img src="<?php echo base_url();?>assets/images/banner-readmore-bg.png" class="banr-readmore3"></a> -->
			</div>
		</div>
	</div>
	<div class="gold-cost-right" >
		<img src="assets/images/gold-cost-img.png" alt="">
	</div>
</section>
<section class="who-we-are-main-outer4 ">
	<img src="assets/images/who-we-are-right-design-bgnw.png" class="who-we-are-right-design">
	<div class="container">
		<div class="row">
			<div class="exclusive-reprensentatio-inner accommodation-main-inner4">
			<h2 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s"><samp>Kingdom</samp><br> Sports Group</h2>
					<div class="col-xs-12 pad_none who-we-are-main-inner2">
						<p>
							Kingdom Sports Group (“KSG”) is a specialist company dedicated to providing exceptional international
							support for major sporting events.
						</p>
						<p>
							This includes official and exclusive ticketing agency rites. In conjunction with hospitality & tours,
							national team uniforms, materials and promotional merchandise.  Our highly-experienced staff have been
							involved in the Olympic, Paralympic and Commonwealth Games since 1998. Our events include Rugby World Cup,
							 FIFA, Bingham Cup, Special Olympics Australia, Camp Gallipoli, Asian Games, Mini Pacific Games, Island
							 Games and Youth Olympics.
						</p>
						<p>
							We have been major sponsors and provided marketing support for several developing countries’ National Olympic and Paralympic Committees and Commonwealth Games countries. We were an inaugural Partner supporter for the International Forum of Peace and Sport. We facilitate and source fundraising merchandise for several national sporting bodies. We donated unique pins to the Wayside Chapel in Sydney Australia for fundraising purposes.
						</p>
						<p>
							KSG were a bid city Official Licensee for Rio 2016 and Licensed Merchandise supplier for every major Games since Sydney 2000.  We proudly work with manufacturers that respect and enforce environmental laws and international child labour regulations.
						</p>
						<p>
							We have the experience to meet any organisation’s merchandise needs with high quality competitively priced product, which for example is confirmed by the fact that we were entrusted to supply pins and merchandise to over 30% of all the competing nations at the London 2012 Olympic and Paralympic Games. We can assist any organisation with design, marketing and promotional concepts to optimise its promotional requirements in a cost-effective manner.
						</p>
						<p>
							We have a fully-fledged in house travel agency that provides all inbound and outbound travel needs from flights, accommodation to insurance and car hire. We are AFTA, ATAS and IATA members and are members of Independent Travel Group which provides exhaustive support
						</p>
						<p>
							All KSG staff are passionate about sport, passionate about providing a superior service to our customers. You are all our friends and we welcome you to our home, Gold Coast, Australia.
						</p>
					</div>
			</div>
		</div>
	</div>
</section>

<%= render 'footer'%>
