
<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">


			<nav>

				<ul>

					<li class="home_tab side_tab">
						<a href="/kingxadminp"><i class="fa fa-lg fa-fw fa-credit-card"></i> <span class="menu-item-parent">Transactions</span></a>
					</li>
					<li class="user_tab side_tab">
						<a href="/admin/user_list"><i class="fa fa-lg fa-user fa-fw"></i><span class="menu-item-parent">User</span></a>
					</li>
					<!-- <li class="website side_tab">
						<a href="/"><i class="fa fa-desktop fa-lg fa-fw"></i><span class="menu-item-parent">Home page</span></a>
					</li> -->
				</ul>
			</nav>


			<span class="minifyme" data-action="minifyMenu">
				<i class="fa fa-arrow-circle-left hit"></i>
			</span>

		</aside>

		<!-- END NAVIGATION -->
