
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<table class="head-wrap" bgcolor="#999999">
    	<tr>
    		<td></td>
    		<td class="header container" >

    				<div class="content">
    				<table bgcolor="#999999">
    					<tr>
    						<td><img src="http://dev2.infiny.in:3333/assets/upload/logo.png" /></td>
    						<!-- <td align="right"><h6 class="collapse">Basic</h6></td> -->
    					</tr>
    				</table>
    				</div>

    		</td>
    		<td></td>
    	</tr>
    </table>

    <table>
    	<thead>
    		<tr>Since your billing amount exceeds 2500$ we have informed admin they will contact you regarding your order</tr>
    	</thead>
    </table>
</body>
</html>