<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>

<link rel="stylesheet" type="text/css" href="/assets/email.css" />

</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#999999">
	<tr>
		<td></td>
		<td class="header container" >

				<div class="content">
				<table bgcolor="#999999">
					<tr>
						<td><img src="/assets/upload/logo.png" /></td>
						<!-- <td align="right"><h6 class="collapse">Basic</h6></td> -->
					</tr>
				</table>
				</div>

		</td>
		<td></td>
	</tr>
</table>
<!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h3>Hi,<%= @user.first_name %></h3>
						<p class="lead">Welcome to Kingdom Sports Group (“KSG”) 2018</p>
            <p>
							Kingdom Sports Group (“KSG”) is a specialist company dedicated to providing exceptional international
							support for major sporting events.
						</p>
						<p>
							This includes official and exclusive ticketing agency rites. In conjunction with hospitality &amp; tours,
							national team uniforms, materials and promotional merchandise.  Our highly-experienced staff have been
							involved in the Olympic, Paralympic and Commonwealth Games since 1998. Our events include Rugby World Cup,
							 FIFA, Bingham Cup, Special Olympics Australia, Camp Gallipoli, Asian Games, Mini Pacific Games, Island
							 Games and Youth Olympics.
						</p>
						<p>
							We have been major sponsors and provided marketing support for several developing countries’ National Olympic and Paralympic Committees and Commonwealth Games countries. We were an inaugural Partner supporter for the International Forum of Peace and Sport. We facilitate and source fundraising merchandise for several national sporting bodies. We donated unique pins to the Wayside Chapel in Sydney Australia for fundraising purposes.
						</p>
						<!-- <p>
							KSG were a bid city Official Licensee for Rio 2016 and Licensed Merchandise supplier for every major Games since Sydney 2000.  We proudly work with manufacturers that respect and enforce environmental laws and international child labour regulations.
						</p>
						<p>
							We have the experience to meet any organisation’s merchandise needs with high quality competitively priced product, which for example is confirmed by the fact that we were entrusted to supply pins and merchandise to over 30% of all the competing nations at the London 2012 Olympic and Paralympic Games. We can assist any organisation with design, marketing and promotional concepts to optimise its promotional requirements in a cost-effective manner.
						</p>
						<p>
							We have a fully-fledged in house travel agency that provides all inbound and outbound travel needs from flights, accommodation to insurance and car hire. We are AFTA, ATAS and IATA members and are members of Independent Travel Group which provides exhaustive support
						</p> -->
						<p>
							All KSG staff are passionate about sport, passionate about providing a superior service to our customers. You are all our friends and we welcome you to our home, Gold Coast, Australia.
						</p>
						<!-- Callout Panel -->
						<p class="callout">
							Visit our site at <a href="http://dev2.infiny.in:3333">Click it! &raquo;</a>
						</p><!-- /Callout Panel -->

						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>

									<!-- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>

												<h5 class="">Connect with Us:</h5>
												<p class=""><a href="https://www.facebook.com/KingdomSG/" class="soc-btn fb">Facebook</a> <a href="https://twitter.com/KingdomSG" class="soc-btn tw">Twitter</a> <a href="https://www.instagram.com/kingdomsportsgroup/" class="soc-btn gp">Instagram</a></p>


											</td>
										</tr>
									</table><!-- /column 1 -->

									<!-- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>

												<h5 class="">Contact Info:</h5>
												<p>Phone: <strong>+61 2 9904 9225</strong><br/>
                Email: <strong><a href="emailto:info@kingdomsg.com">info@kingdomsg.com</a></strong></p>

											</td>
										</tr>
									</table><!-- /column 2 -->

									<span class="clear"></span>

								</td>
							</tr>
						</table><!-- /social & contact -->

					</td>
				</tr>
			</table>
			</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="http://dev2.infiny.in:3333/assets/upload/Terms_and_Conditions_of_Sale_-_KSG_LEGAL_POLICY_v2.pdf" target="_blank">Terms</a> |
							<a href="http://dev2.infiny.in:3333/privacy">Privacy</a>
							<!-- <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a> -->
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
