<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div>
	<h3>Hi <%= @user.first_name %>,</h3>
	<p>Your account with Kingdom Sports Group is complete.</p>
	<p >This is the first step to sharing the great Gold Coast Commonwealth Games with us.</p>
	<p >Now you have activated your account, you can add or remove event tickets, accommodation, tours or complete packages.</p>
	<a href="http://kingdomsg2018.kingdomsg.com/" style="text-decoration: underline;">Return to order</a>
</div>

<div>
<br>
<br><br><br>
<div>
	<strong style="font-size: 16px;color: #002060;">KSG Team</strong>
</div>
</span><span style="font-size:10.0pt;font-family:&quot;Verdana&quot;,sans-serif;color:black"><img src="http://kingdomsg2018.kingdomsg.com/assets/images/ksg-logos/imgggs.jpg"  alt="KingdomSportsGrouplogo" width="297" height="75"></span><span ><u></u><u></u></span></p>
<p ><b><u><span >Head Office:</span></u></b></p>
<p ><span >6/211 Ben Boyd Road, Neutral Bay NSW 2089
<u></u><u></u></span></p>
<p ><span >PO Box 262, Neutral Bay, NSW, 2089, Australia<u></u><u></u></span></p>
<p ><span ><a href="http://www.kingdomsg.com/" target="_blank" >kingdomsg.com</span></a><u></u><u></u></span></p>
<p><span >AU Phone + 61 (0)2 9904 9225<u></u><u></u></span></p>
<p><span><img src="http://kingdomsg2018.kingdomsg.com/assets/images/ksg-logos/infomm.png" alt="tickets_provider">&nbsp;&nbsp;&nbsp;
<img src="http://kingdomsg2018.kingdomsg.com/assets/images/ksg-logos/horse.png" alt="tickets_provider">&nbsp;&nbsp;&nbsp;<img src="http://kingdomsg2018.kingdomsg.com/assets/images/ksg-logos/atas.png" alt="tickets_provider"></span><span style="font-size:8.0pt;font-family:&quot;Verdana&quot;,sans-serif;color:black"><u></u><u></u></span></p>
<p><span ><u></u>&nbsp;<u></u></span></p>
<p><span ><img src="http://kingdomsg2018.kingdomsg.com/assets/images/ksg-logos/image011.png" alt="tickets_provider"><div ><div id=":q3" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment image011.png" data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div><div id=":q4" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Save attachment to Drive image011.png" data-tooltip-class="a1V" data-tooltip="Save to Drive"><div class="wtScjd J-J5-Ji aYr aQu"><div class="T-aT4" style="display: none;"><div></div><div class="T-aT4-JX"></div></div></div></div></div><u></u><u></u></span></p>
<p ><span ><u></u>&nbsp;<u></u></span></p>
<p style="font-size: 12px;"><span style="font-size: 12px;">ATTENTION RECIPIENT: This email and any attachments are confidential and may be legally privileged. Confidentiality and/or privilege is not waived or lost by mistaken delivery. If
 you are not the intended recipient of this email, please notify us immediately and delete it from your system. Unauthorised use of this email is prohibited. Any personal information in this email must be treated in accordance with applicable privacy laws.<span class="HOEnZb"><font color="#888888"><u></u><u></u></font></span></span></p><div class="yj6qo ajU"><div id=":3o" class="ajR" role="button" tabindex="0" aria-label="Show trimmed content" data-tooltip="Show trimmed content"></div></div><span>
<p ><u></u>&nbsp;<u></u></p>
</font></span></div>

	</div>
</body>
</html>
